$uw-primary-colour: #252525;

/* nearly black */
$uw-highlight-colour: #FCE082;

/* pale yellow */
$uw_header_background_colour: #000000;

/* black */
$uw_header_border_colour: #000000;

/* black */
$uw-dark-shade-colour: #757575;

/* dark grey */
$uw-light-shade-colour: #EEEEEE;

/* light grey */
$link-colour: #428BCA;

/* blue; copied from library - not final */
$border-colour: #CCCCCC;

/* arbitrary grey - not final */
$button-colour: #DDDDDD;

/* arbitrary lighter grey - not final */
$how-far-down-with-admin: 216px;
$navbar-height: 39px;
$how-far-down-without-admin: 177px;

html {
  font-size: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", Verdana, sans-serif;
}

h1 {
  text-align: center;
}

#site {
  width: 100%;
  max-width: 1000px;
}

#main {
  width: 98%;
  margin: auto 1%;
  padding: 0;
}

#site-navigation {
  width: 100%;
}

#site-navigation {
  box-sizing: border-box;
  padding-right: 10px;
}

#header {
  background-color: $uw_header_background_colour;
}

#content,
#site-sidebar {
  box-sizing: border-box;
  font-size: 1em;
}

#global-search label {
  display: inline;
  font-size: 0.9em;
}

/* Homepage banner */
.banner-image img {
  width: 100%;
}

/* Services changes for responsive */
// service search tab
#views-exposed-form-uw-services-search-services-search {
  position: relative;

  #edit-combine-wrapper {
    width: 100%;

    input[type="text"] {
      width: 100%;
      box-sizing: border-box;
    }

    .ui-autocomplete-input {
      background-position: top 4px right 20px;
    }

    .form-item, .form-submit {
      margin-top: 5px;
    }
  }

  .views-exposed-widget {
    padding: 0;
  }

  .views-submit-button {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    #edit-submit-uw-services-search {
      font-size: 0;
      max-height: 20px;
      height: 100%;
      border: none;
      width: 21px;
      background-image: url("../search.png");
      background-repeat: no-repeat;
      vertical-align: top;
      margin-top: 7px;
    }
  }
}

// Add margin-top for four views
.view-uw-service-glossary,
.view-uw-service-categories,
.view-uw-by-audience,
.view-uw-services-popular {
  margin-top: 10px;
}

.tablike {
  margin: 0;
  padding: 0 0 10px 0;

  /* 10px = height of bar underneath current item + 5px */
  list-style: none;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: auto;
  letter-spacing: -1em;

  /* remove space between inline LIs */
  position: relative;

  li:hover {
    /*For search tab*/
    cursor: pointer;
  }

  li {
    display: inline-block;
    position: relative;
    letter-spacing: normal;

    /* since we removed outside space, we have to add it back inside the LIs */
    .current a:hover,
    .current a:focus {
      background: #757575;
    }
  }

  a {
    display: inline-block;
    padding: 10px 10px 8px;

    /* lower bottom padding since we don't have descenders */
    color: black;
    text-decoration: none;
  }

  .current:after {
    content: '';
    border-bottom: 5px solid #757575;
    width: 100%;
    position: absolute;
    bottom: -15px;
    left: 0;
  }
}

// override background color defined in uw_ct_service.css
ul.tablike li.current a {
  background: #F5F5F5;
}

// override background color and font color defined in uw_ct_service.css
body #main ul.tablike li a:hover,
body #main ul.tablike li a:focus {
  background: #757575;
  color: #FFFFFF;
}

// override background color and margin defined in uw_ct_service.css
ul.tablike li {
  margin: 0;

  a {
    background: #F5F5F5;
  }
}

#site-sidebar {
  ul.tablike {
    line-height: 2em;

    li a {
      text-align: center;
      margin: 0 0 5px 0;
    }
  }
}

.js {
  #content #views-exposed-form-uw-services-search-services-search {
    display: none;

    /* js is enabled, don't display search block. */
  }

  .tablike.scrollleft {
    border-left: 4px solid black;
  }

  .tablike.scrollright {
    border-right: 4px solid black;
  }
}

/**
 * Style for screens with a width smaller than 767 px.
 * Code in this section applies to most phones b/c the viewport setting.
 */
@media screen and (max-width: 767px) {
  #main {
    .with-navigation & {
      /* with navagation take up 2/3 of screen */
      width: 100%;
    }
  }

  .wide #content, #content {
    width: 100%;
  }

  #site-sidebar {
    width: 99%;

    .block {
      width: 95%;
    }
  }

  #uw-header-logo {
    width: 100%;
  }

  #uw-header-search-button label:after {
    content: '\f002';
    right: 75px;
  }

  #uw-search-term {
    max-width: 50%;
  }

  #site-sidebar-wrapper label:after {
    content: '\f196';
    z-index: 1000;
  }

  #site-navigation-wrapper label:after {
    content: '\f196';
    z-index: 1000;
  }

  #site-navigation-wrapper {
    width: 100%;
    min-height: 34px;
    background-color: white;

    label:after {
      top: $how-far-down-without-admin;
      left: 0;
      position: fixed;
      font-family: FontAwesome;
      font-size: 16px;
      background: $button-colour;
      padding: 0.5em;
      cursor: pointer;
    }

    label:hover:after, .state:focus ~ label:after {
      background: $uw-highlight-colour;
    }

    #site-navigation {
      width: 45%;
      height: 100%;
      top: 1.7em;
      right: 0em;
      z-index: 1000;
      background: white;
      margin: 0;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;
    }

    .state:checked ~ #site-specific-nav-grey-out {
      background-color: white;
      filter: alpha(opacity = 50);

      /* IE */
      opacity: 0.5;

      /* Safari, Opera */
      -moz-opacity: 0.50;

      /* FireFox */
      z-index: 20;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
    }

    .state:checked ~ #site-navigation {
      position: fixed;
      overflow: auto;
      top: 0;
      left: 28px;
      z-index: 999;
      visibility: visible;
      max-height: 100%;
    }
  }

  /*#site-sidebar-wrapper {
    width: 100%;
    min-height: 24px;
    background-color: white;

    label:after {
      top: $how-far-down-without-admin;
      right: 0;
      position: fixed;
      font-family: FontAwesome;
      font-size: 16px;
      background: $button-colour;
      padding: 0.5em;
      cursor: pointer;
    }

    label:hover:after, .state:focus ~ label:after {
      background: $uw-highlight-colour;
    }

    #site-sidebar {
      width: 45%;
      height: 100%;
      top: 1.7em;
      right: 0em;
      z-index: 1000;
      background: white;
      margin: 0;
      padding: 0;
      max-height: 0;
      overflow: auto;
      visibility: hidden;
    }
  }*/

  #uw-header-buttons {
    label:after {
      top: 20px;
      position: absolute;
      font-family: FontAwesome;
      font-size: 20px;
      background: $button-colour;
      padding: 1.0em;
      cursor: pointer;
    }

    label:hover:after, .state:focus ~ label:after {
      background: $uw-highlight-colour;
    }
  }

  .nav-university,
  .search-university {
    position: relative;

    .state:checked ~ ul {
      visibility: visible;
      max-height: 15em;

      /* can't animate "height: auto", so we set a larger max-height than we will ever require (but not too large, so it doesn't take forever to close) */
    }

    .state:checked ~ #global-search {
      visibility: visible;
      max-height: 15em;

      /* can't animate "height: auto", so we set a larger max-height than we will ever require (but not too large, so it doesn't take forever to close) */
    }

    #global-search {
      width: 100%;
      top: 1.7em;
      right: 0em;
      text-align: center;
      z-index: 1000;
      background: $uw_header_background_colour;
      margin: 0;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;

      /* hide so keyboard navigators can't access while collapsed; using visibility instead of display since display can't be animated */
      -webkit-transition: max-height 0.3s, visibility 0.3s;
      transition: max-height 0.3s, visibility 0.3s;
    }

    ul {
      width: 100%;
      top: 1.7em;
      right: 0em;
      z-index: 1000;
      background: $uw_header_background_colour;
      margin: 0;
      padding: 0;
      max-height: 0;
      overflow: hidden;
      visibility: hidden;

      /* hide so keyboard navigators can't access while collapsed; using visibility instead of display since display can't be animated */
      -webkit-transition: max-height 0.3s, visibility 0.3s;
      transition: max-height 0.3s, visibility 0.3s;

      li {
        text-align: center;
      }
    }

    a {
      display: block;
      padding: 6px 10px 4px;
      background-color: $uw_header_background_colour;
      border-bottom: 1px solid $uw_header_border_colour;
      white-space: nowrap;
      color: #000000;
      text-decoration: none;
    }

    a:hover, a:focus {
      text-decoration: underline;
    }

    .wide #content, #content {
      width: 100%;
    }
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #skip {
    display: none;
  }

  #uw-header {
    display: block;
  }

  #uw-logo {
    max-width: 50%;
    background-size: contain;
  }

  #site-navigation {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;

    .region-sidebar-first {
      margin-bottom: 0;
    }
  }

  #site-sidebar {
    overflow-x: hidden;
    padding-bottom: 20px;
    padding-left: 5px;
    margin-top: 0;
  }

  #footer {
    #cas_login {
      clear: both;
      float: left;
      position: absolute;
      width: 40%;
      display: block;
      background-color: black;
      text-align: right;
      bottom: 20px;
      right: 10px;

      a {
        padding-right: 10px;
      }

      a:hover, a:focus {
        text-decoration: underline;
        padding-right: 15px;
      }
    }
  }

  #uw-footer .content {
    clear: both;
    float: left;
    text-align: center;
    width: 100%;
    display: block;
    padding: 0;

    .global-menu {
      padding: 0;
      list-style: none none none;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    .global-menu li::before {
      color: #da1;
      content: "";
    }

    ul {
      width: 100%;
      background: $uw_header_background_colour;
      overflow: hidden;
      list-style: none none none;
      display: block;
      margin-left: auto;
      margin-right: auto li {
        display: block;
        margin-left: auto;
        margin-right: auto;
      };
    }

    a {
      display: block;
      background-color: $uw_header_background_colour;
      border-bottom: 1px solid $uw_header_border_colour;
      white-space: nowrap;
      color: white;
      text-decoration: none;
    }

    a:hover, a:focus {
      text-decoration: underline;
    }
  }

  #footer {
    #uw-footer-address {
      clear: both;
      float: left;
      text-align: center;
      width: 100%;
      display: block;
      font-size: 120%;
      margin-bottom: 1em;
    }
  }

  // Webform
  form.webform-client-form div.form-item {
    // Expand form controls to full width.
    input[type=text], input[type=email], select.form-select {
      box-sizing: border-box;
      width: 100%;
    }

    // Leave at natural width side-by-side selects, such as time and date.
    fieldset.fieldset-invisible > div.webform-container-inline > div > select.form-select {
      width: auto;
    }
  }

  // Center profile photo for Contacts.
  .staff-contact .data {
    .photo, .info {
      float: none;
      width: auto;
      margin: auto;
      text-align: center;
    }

    .info {
      .field-type-text-long {
        text-align: left;
      }

      .field-label-inline {
        display: inline-block;
      }
    }
  }

  // Style "Expand/Collapse all" buttons.
  .js #content {
    .toggle-contacts,
    .expandable-controls {
      position: static;
      text-align: center;
    }

    // @todo .toggle-contacts should use the button element instead of 'a'. This
    // would allow consolidation of the selector with the above. See RT#471271.
    .toggle-contacts a,
    .expandable-controls button {
      display: inline-block;
      width: 40%;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding: 0.5em;
    }
  }
}

/**
 * Style for screens with a width equals to or larger than 768px
 *
 * B/c styles in >= 992px and >= 1000 px override this section,
 * most of the style in this section affects to screens width between
 * 768 px and 992 px. But if you have style that applies to all screens
 * that are wider than 768px, you can add it here.
 *
 * In most cases, this section is for tablets.
 */
@media screen and (min-width: 768px) {
  #main {
    .with-navigation & {
      /* with navagation take up 2/3 of screen */
      width: 73%;
    }
  }

  .search-university {
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .nav-university {
    ul {
      list-style: none;
      position: absolute;
      bottom: 5px;
      right: 0;
      margin: 0;
      padding: 0;
    }

    li {
      float: left;
      padding: 2px 10px;
      border-left: solid 1px #fff;
      margin: 0;
    }

    li:first-child {
      border-left: none;
    }
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #site-navigation {
    width: auto;
    max-width: 30%;
    min-width: 23%;
  }

  #site-sidebar {
    width: 100%;
    padding-left: 0;
  }

  .wide #site-sidebar {
    width: auto;
  }
}

/**
 * Style for screens with a width equals to or larger than 992 px.
 * This section may override the 768 px section.
 *
 * In most cases, this section is for monitors.
 */
@media screen and (min-width: 992px) {
  #mob-header {
    display: none;
  }

  #site-navigation {
    width: 24%;
  }

  #content {
    width: 66.6667%;
  }

  #site-sidebar {
    width: 31.3333%;
    margin-top: 15px;
    padding-left: 14px;
  }

  .wide #site-sidebar {
    width: auto;
  }
}

/**
 * A quick fix for body shadow. When the screen is smaller than 1010px,
 * hide the box shadow.
 */
@media screen and (max-width: 1010px) {
  #site {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 767px) {
  .wide #content, #content {
    width: 100%;
  }

  #site-sidebar {
    width: 98%;
    padding-left: .5em;
  }
}

/**
 * All below is a fix for FDSU-1031.
 * New breakpoint added order of breakpoints set.
 * */
@media screen and (max-width: 987px) {
  #main {
    .with-navigation & {
      /* with navagation take up 2/3 of screen */
      width: 68%;
    }
  }
}

@media screen and (min-width: 768px) {
  .wide #content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  #main {
    .with-navigation & {
      /* with navagation take up 2/3 of screen */
      width: 98%;
    }
  }
}

// Screens less than 700 pixels (tablets or smaller).
@media screen and (max-width: 700px) {
  #uwb_paginator {
    display: flex;
    padding: 0;
    position: relative;
    left: 0px;
    top: -10px;

    .uwb_controls {
      display: none;
    }

    li {
      width: 100%;
      flex: 1 0 0;
      padding: 0;

      a {
        padding: 10px 49%;
        background-color: #757575;
        border: 0;
        font-size: 0;
        margin: 0;
      }

      button {
        width: 100%;
        padding: 10px 49%;
        border: 0;
        margin: 0;
      }
    }

    .uwb_selected {
      background-color: #252525 !important;
      border: 0px solid #252525 !important;
      outline: none !important;
    }
  }

  .banner-image img {
    width: 98%;
    height: auto;
  }

  .banner-caption {
    display: inline-block;
    position: relative !important;
    width: 98% !important;
  }
}
