// Base Class Definition
// -------------------------

.#{$fa-css-prefix} {
  display: inline-block;

  // shortening font declaration
  font: normal normal normal #{$fa-font-size-base}/1 FontAwesome;

  // can't have font-size inherit on line above, so need to override
  font-size: inherit;

  // optimizelegibility throws things off #1094
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // ensures no half-pixel rendering in firefox
  transform: translate(0, 0);
}
