/*/ Bureau Grotesque /*/

@font-face {
  font-family: 'BureauGrotCond Book';
  src: url('/fonts/Bureau_Grot-Condensed_Book.eot');
  src: url('/fonts/Bureau_Grot-Condensed_Book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Bureau_Grot-Condensed_Book.woff2') format('woff2'),
  url('/fonts/Bureau_Grot-Condensed_Book.woff') format('woff'),
  url('/fonts/Bureau_Grot-Condensed_Book.svg#Bureau_Grot-Condensed_Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BureauGrotWide';
  src: url('/fonts/Bureau_Grot-Wide_Light.eot');
  src: url('/fonts/Bureau_Grot-Wide_Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Bureau_Grot-Wide_Light.woff2') format('woff2'),
  url('/fonts/Bureau_Grot-Wide_Light.woff') format('woff'),
  url('/fonts/Bureau_Grot-Wide_Light.svg#Bureau_Grot-Wide_Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BureauGrot Book';
  src: url('/fonts/Bureau_Grot-Book.eot');
  src: url('/fonts/Bureau_Grot-Book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Bureau_Grot-Book.woff2') format('woff2'),
  url('/fonts/Bureau_Grot-Book.woff') format('woff'),
  url('/fonts/Bureau_Grot-Book.svg#Bureau_Grot-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BureauGrotCond';
  src: url('/fonts/Bureau_Grot-Condensed_Bold.eot');
  src: url('/fonts/Bureau_Grot-Condensed_Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Bureau_Grot-Condensed_Bold.woff2') format('woff2'),
  url('/fonts/Bureau_Grot-Condensed_Bold.woff') format('woff'),
  url('/fonts/Bureau_Grot-Condensed_Bold.svg#Bureau_Grot-Condensed_Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BureauGrot';
  src: url('/fonts/Bureau_Grot-Light.eot');
  src: url('/fonts/Bureau_Grot-Light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Bureau_Grot-Light.woff2') format('woff2'),
  url('/fonts/Bureau_Grot-Light.woff') format('woff'),
  url('/fonts/Bureau_Grot-Light.svg#Bureau_Grot-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BureauGrotWide Book';
  src: url('/fonts/Bureau_Grot-Wide_Book.eot');
  src: url('/fonts/Bureau_Grot-Wide_Book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Bureau_Grot-Wide_Book.woff2') format('woff2'),
  url('/fonts/Bureau_Grot-Wide_Book.woff') format('woff'),
  url('/fonts/Bureau_Grot-Wide_Book.svg#Bureau_Grot-Wide_Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Complete 1451 */

@font-face {
  font-family: "Typ1451-Regularalternate";
  src:url("/fonts/lineto-typ1451-regularalternate.eot");
  src:url("/fonts/lineto-typ1451-regularalternate.eot?#iefix") format("embedded-opentype"),
  url("/fonts/lineto-typ1451-regularalternate.woff2") format("woff2"),
  url("/fonts/lineto-typ1451-regularalternate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Typ1451-Mediumalternate";
  src:url("/fonts/lineto-typ1451-mediumalternate.eot");
  src:url("/fonts/lineto-typ1451-mediumalternate.eot?#iefix") format("embedded-opentype"),
  url("/fonts/lineto-typ1451-mediumalternate.woff2") format("woff2"),
  url("/fonts/lineto-typ1451-mediumalternate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Typ1451-Regular";
  src:url("/fonts/lineto-typ1451-regular.eot");
  src:url("/fonts/lineto-typ1451-regular.eot?#iefix") format("embedded-opentype"),
  url("/fonts/lineto-typ1451-regular.woff2") format("woff2"),
  url("/fonts/lineto-typ1451-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Typ1451-Boldalternate";
  src:url("/fonts/lineto-typ1451-boldalternate.eot");
  src:url("/fonts/lineto-typ1451-boldalternate.eot?#iefix") format("embedded-opentype"),
  url("/fonts/lineto-typ1451-boldalternate.woff2") format("woff2"),
  url("/fonts/lineto-typ1451-boldalternate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Typ1451-Medium";
  src:url("/fonts/lineto-typ1451-medium.eot");
  src:url("/fonts/lineto-typ1451-medium.eot?#iefix") format("embedded-opentype"),
  url("/fonts/lineto-typ1451-medium.woff2") format("woff2"),
  url("/fonts/lineto-typ1451-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Typ1451-Bold";
  src:url("/fonts/lineto-typ1451-bold.eot");
  src:url("/fonts/lineto-typ1451-bold.eot?#iefix") format("embedded-opentype"),
  url("/fonts/lineto-typ1451-bold.woff2") format("woff2"),
  url("/fonts/lineto-typ1451-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Typ1451-Light";
  src:url("/fonts/lineto-typ1451-light.eot");
  src:url("/fonts/lineto-typ1451-light.eot?#iefix") format("embedded-opentype"),
  url("/fonts/lineto-typ1451-light.woff2") format("woff2"),
  url("/fonts/lineto-typ1451-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Typ1451-Lightalternate";
  src:url("/fonts/lineto-typ1451-lightalternate.eot");
  src:url("/fonts/lineto-typ1451-lightalternate.eot?#iefix") format("embedded-opentype"),
  url("/fonts/lineto-typ1451-lightalternate.woff2") format("woff2"),
  url("/fonts/lineto-typ1451-lightalternate.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fdsu-rwd';
  src: url("../fonts/fdsu-rwd.eot?yngg0");
  src: url("../fonts/fdsu-rwd.eot?yngg0#iefix") format("embedded-opentype"),
  url("../fonts/fdsu-rwd.ttf?ntl5e3") format("truetype"),
  url("../fonts/fdsu-rwd.woff?ntl5e3") format("woff"),
  url("../fonts/fdsu-rwd.svg?ntl5e3") format("svg");
  font-weight: normal;
  font-style: normal;
}



$fdsu-vimeo: "\e901";
$fdsu-vimeo-box: "\e900";
$fdsu-add-to-calendar: "\2605";
$fdsu-envelope: "\e0eb";
$fdsu-bubble: "\e15f";
$fdsu-binoculars: "\e1b5";
$fdsu-search: "\e1b6";
$fdsu-search-2: "\e1b7";
$fdsu-search-shade: "\e1bb";
$fdsu-arrow-right: "\e3b5";
$fdsu-googleplus-box: "\e495";
$fdsu-github: "\e4ba";
$fdsu-github-box: "\e4bb";
$fdsu-yahoo: "\e4c4";
$fdsu-tux: "\e4c5";
$fdsu-apple: "\e4c6";
$fdsu-finder: "\e4c7";
$fdsu-android: "\e4c8";
$fdsu-windows: "\e4c9";
$fdsu-windows8: "\e4ca";
$fdsu-skype: "\e4cd";
$fdsu-html5: "\e4eb";
$fdsu-css3: "\e4ec";
$fdsu-chrome: "\e4ed";
$fdsu-firefox: "\e4ee";
$fdsu-IE: "\e4ef";
$fdsu-opera: "\e4f0";
$fdsu-safari: "\e4f1";
$fdsu-close: "\e902";
$fdsu-si-comm: "\e903";
$fdsu-info: "\e904";
$fdsu-info-2: "\e905";
$fdsu-chevron: "\e906";
$fdsu-ical: "\e907";
$fdsu-arrow: "\e908";
$fdsu-comment: "\e909";
$fdsu-share: "\e90a";
$fdsu-facebook: "\e90b";
$fdsu-facebook-box: "\e90c";
$fdsu-instagram-box: "\e90d";
$fdsu-instagram: "\e90e";
$fdsu-linkedin: "\e90f";
$fdsu-linkedin-box: "\e910";
$fdsu-twitter: "\e911";
$fdsu-twitter-box: "\e912";
$fdsu-youtube-box: "\e913";
$fdsu-youtube: "\e914";
$fdsu-calendar: "\e915";
$fdsu-cloud: "\e916";
$fdsu-rss-box: "\e917";
$fdsu-snapchat: "\e918";
$fdsu-si-comp: "\e921";
$fdsu-si-infrastructure: "\e927";
$fdsu-si-professionals: "\e928";
$fdsu-si-security: "\e929";
$fdsu-si-teach: "\e92a";
$fdsu-clock2: "\e94f";
$fdsu-spoon-knife: "\e9a3";
$fdsu-location: "\e930";

.ifdsu {
  font-family: 'fdsu-rwd';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fdsu-vimeo {
  &:before {
    content: $fdsu-vimeo;
  }
}
.fdsu-vimeo-box {
  &:before {
    content: $fdsu-vimeo-box;
  }
}
.fdsu-add-to-calendar {
  &:before {
    content: $fdsu-add-to-calendar;
  }
}
.fdsu-envelope {
  &:before {
    content: $fdsu-envelope;
  }
}
.fdsu-bubble {
  &:before {
    content: $fdsu-bubble;
  }
}
.fdsu-binoculars {
  &:before {
    content: $fdsu-binoculars;
  }
}
.fdsu-search {
  &:before {
    content: $fdsu-search;
  }
}
.fdsu-search-2 {
  &:before {
    content: $fdsu-search-2;
  }
}
.fdsu-search-shade {
  &:before {
    content: $fdsu-search-shade;
  }
}
.fdsu-arrow-right {
  &:before {
    content: $fdsu-arrow-right;
  }
}
.fdsu-googleplus-box {
  &:before {
    content: $fdsu-googleplus-box;
  }
}
.fdsu-github {
  &:before {
    content: $fdsu-github;
  }
}
.fdsu-github-box {
  &:before {
    content: $fdsu-github-box;
  }
}
.fdsu-yahoo {
  &:before {
    content: $fdsu-yahoo;
  }
}
.fdsu-tux {
  &:before {
    content: $fdsu-tux;
  }
}
.fdsu-apple {
  &:before {
    content: $fdsu-apple;
  }
}
.fdsu-finder {
  &:before {
    content: $fdsu-finder;
  }
}
.fdsu-android {
  &:before {
    content: $fdsu-android;
  }
}
.fdsu-windows {
  &:before {
    content: $fdsu-windows;
  }
}
.fdsu-windows8 {
  &:before {
    content: $fdsu-windows8;
  }
}
.fdsu-skype {
  &:before {
    content: $fdsu-skype;
  }
}
.fdsu-html5 {
  &:before {
    content: $fdsu-html5;
  }
}
.fdsu-css3 {
  &:before {
    content: $fdsu-css3;
  }
}
.fdsu-chrome {
  &:before {
    content: $fdsu-chrome;
  }
}
.fdsu-firefox {
  &:before {
    content: $fdsu-firefox;
  }
}
.fdsu-IE {
  &:before {
    content: $fdsu-IE;
  }
}
.fdsu-opera {
  &:before {
    content: $fdsu-opera;
  }
}
.fdsu-safari {
  &:before {
    content: $fdsu-safari;
  }
}
.fdsu-close {
  &:before {
    content: $fdsu-close;
  }
}
.fdsu-si-comm {
  &:before {
    content: $fdsu-si-comm;
  }
}
.fdsu-info {
  &:before {
    content: $fdsu-info;
  }
}
.fdsu-info-2 {
  &:before {
    content: $fdsu-info-2;
  }
}
.fdsu-chevron {
  &:before {
    content: $fdsu-chevron;
  }
}
.fdsu-ical {
  &:before {
    content: $fdsu-ical;
  }
}
.fdsu-arrow {
  &:before {
    content: $fdsu-arrow;
  }
}
.fdsu-comment {
  &:before {
    content: $fdsu-comment;
  }
}
.fdsu-share {
  &:before {
    content: $fdsu-share;
  }
}
.fdsu-facebook {
  &:before {
    content: $fdsu-facebook;
  }
}
.fdsu-facebook-box {
  &:before {
    content: $fdsu-facebook-box;
  }
}
.fdsu-instagram-box {
  &:before {
    content: $fdsu-instagram-box;
  }
}
.fdsu-instagram {
  &:before {
    content: $fdsu-instagram;
  }
}
.fdsu-linkedin {
  &:before {
    content: $fdsu-linkedin;
  }
}
.fdsu-linkedin-box {
  &:before {
    content: $fdsu-linkedin-box;
  }
}
.fdsu-twitter {
  &:before {
    content: $fdsu-twitter;
  }
}
.fdsu-twitter-box {
  &:before {
    content: $fdsu-twitter-box;
  }
}
.fdsu-youtube-box {
  &:before {
    content: $fdsu-youtube-box;
  }
}
.fdsu-youtube {
  &:before {
    content: $fdsu-youtube;
  }
}
.fdsu-calendar {
  &:before {
    content: $fdsu-calendar;
  }
}
.fdsu-cloud {
  &:before {
    content: $fdsu-cloud;
  }
}
.fdsu-rss-box {
  &:before {
    content: $fdsu-rss-box;
  }
}
.fdsu-snapchat {
  &:before {
    content: $fdsu-snapchat;
  }
}
.fdsu-si-comp {
  &:before {
    content: $fdsu-si-comp;
  }
}
.fdsu-si-infrastructure {
  &:before {
    content: $fdsu-si-infrastructure;
  }
}
.fdsu-si-professionals {
  &:before {
    content: $fdsu-si-professionals;
  }
}
.fdsu-si-security {
  &:before {
    content: $fdsu-si-security;
  }
}
.fdsu-si-teach {
  &:before {
    content: $fdsu-si-teach;
  }
}
.fdsu-clock2 {
  &:before {
    content: $fdsu-clock2;
  }
}
.fdsu-spoon-knife {
  &:before {
    content: $fdsu-spoon-knife;
  }
}
.fdsu-location {
  &:before {
    content: $fdsu-location;
  }
}
