.uw-embedded-powerbi {
  iframe {
    width: 100%;
    min-width: 100%;
    min-height: 300px;

    @include media($medium-screen) {
      min-height: 400px;
    }

    @include media($large-screen) {
      min-height: 541px;
    }
  }
}