// .view .event {border-bottom: solid 1px #ddd; margin-bottom: 1em;}
//
.date-display-range {
  width: 100%;
}

.view-events-with-calendar {
  .views-exposed-form {
    .views-exposed-widget {
      grid-column: 1/4;
      grid-row: 1;
    }
    .views-widget-filter-field_audience_tid {
      padding-right: 0;
      grid-column: 4/7;
      grid-row: 1;
    }
  }
}

.node-type-uw-event {
  .details {
    border-top: solid 1px #ddd;
    margin-top: 0.5rem;

    @include fill-parent;

    .field {
      @include media($xsmall-screen) {
        @include span-columns(9 of 9);
      }


      @include media($small-screen) {
        @include span-columns(9 of 9);
      }


      @include media($medium-screen) {
        @include span-columns(4.5 of 9);

        @include omega(2n);

        &.field_event_location {
          @include span-columns(9 of 9);
        }

        &.field_event_date {
          @include span-columns(9 of 9);
        }

        &.body {
          @include span-columns(9 of 9);
        }
      }


      .field-label-inline {
        display: inline-block;
      }

      .field-data {
        .location {
          .adr {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .field {
    &-name-field-news-date {
      width: 100%;
    }

    &-items {
      padding: 0.75rem 0.5rem;
    }

    &-data {}

    &-item {
      padding: 0.25rem 0.25rem 0.25rem 0;

      .date-display-single {}
    }
  }
}

.field_event_date .multiple input[type="checkbox"] ~ .field.body {
  margin-top: 2rem;

  .loged-in & {
    margin-top: 20rem;
  }
}

.field_event_date {
  z-index: map-get($zindex, content);
}

.field.body {
  z-index: map-get($zindex, modal);
}

.event-content {
  position: relative;
  z-index: map-get($zindex, background);

  @include span-columns(9 of 9);

  .date-display-end {
    white-space: nowrap;
  }

  + ul.links,
  ul.links {
    display: none;
  }
}

span.date-display-single {
  @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

  display: inline-block;
  margin: 0rem 0 1rem 0;
  width: 100%;
}

.multiple {
  span.date-display-single {
    margin: 0rem;
  }
}

.field_event_location {
  .address-content {
    margin-top: 0.5rem;
  }

  .leaflet-control-container {
    a:link {
      text-decoration: none;
    }
  }
}

.field_uw_event_tag .field-item {
  float: left;
}

.view {
  &.view-events-responsive {
    span.date-display-single,
    span.date-display-range {
      @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

      display: inline-block;
      line-height: 1.45rem;
    }

    img[typeof="foaf:Image"] {
      margin-bottom: 1rem;
    }

    .views-exposed-form {
      @extend %ct_box;

      padding: 0.5rem;
      margin-bottom: 0.75rem;
      margin-top: 0.74rem;
      border: solid 1px $lighter-gray;
      min-height: inherit;

      @include clearfix;

      .views-exposed-widgets {
        @include span-columns(12);

        .views-exposed-widget {
          @include span-columns(12 of 12);

          @include media($xsmall-screen) {
            @include span-columns(4 of 12);

            &:nth-child(3) {
              @include omega;
            }

            &:last-child {
              @include span-columns(6 of 12);

              @include shift(3);
            }
          }


          @include media($small-screen) {}


          @include media($small-screen) {
            @include span-columns(3 of 12);

            &:last-child {
              @include span-columns(3 of 12);

              @include shift(0);
            }
          }


          @include media($large-screen) {}


          &.views-submit-button {
            padding-right: 0;

            .form-submit {
              max-width: 100%;

              &.progress-disabled {
                position: relative;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .view-content {
      @include media($large-screen) {
        display: flex;
        flex-wrap: wrap;
      }


      .views-row {
        clear: both;

        @extend %ct_box;

        .event-summary {
          position: relative;
        }

        .event-title {
          margin-top: 1rem;
        }

        &:first-child {
          width: 100%;
          margin-top: 0;
          min-height: inherit;
          margin-right: 0;
        }

        @include media($xsmall-screen) {
          width: 100%;
          margin-top: 0;
          margin-bottom: 1rem;
          min-height: inherit;
        }


        @include media($large-screen) {
          flex: 1 1 auto;
          flex-grow: 1;
          width: 48%;
          margin-right: 1rem;
        }


        &-odd {
          @include omega;
        }

        &:last-child {
          margin-right: 0;
        }

        &-last {}
      }
    }
  }
}

// /*event calendar view*/
.view-events-with-calendar .attachment {
  margin-top: 1.5rem;
}

.view-events-with-calendar {
  .has-events {
    background-color: $uw-primary-colour;
  }

  .date-heading h3 > a {
    color: $uw-primary-colour;
  }
}

.field_event_date .switchable {
  display: none;
}

.js .field_event_date .switchable {
  border: none;
  outline: 0;
  padding: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 1.7rem;
  display: block;
  z-index: map-get($zindex, modal);
  position: absolute;
  right: 0.5rem;
  top: 0.48rem;
  overflow: hidden;
  line-height: 1.7rem;

  @include media($medium-screen) {}


  label {
    cursor: pointer;
    display: block;
    position: relative;
    width: 5.75rem;
    height: 1.7rem;
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;

    @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: left);

    &:after {
      content: "";
      display: block;
      height: 1.25rem;
      left: 0.2rem;
      top: 0.2rem;
      position: absolute;
      width: 1.25rem;

      @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: left);
    }
  }
}

.field_event_date .multiple {
  position: relative;
  z-index: map-get($zindex, content);
}

.field_event_date .multiple input {
  left: 10px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 9px;
  z-index: map-get($zindex, modal);

  &[type="checkbox"] ~ .switchable label {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;

    span {
      display: block;
      position: absolute;
      font-size: modular-scale(-2);
      font-family: $font-1451-medium;

      &.hide {
        @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: left);

        left: -4rem;
        top: 0rem;
      }

      &.show {
        @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: right);

        width: 5.75rem;
        overflow: hidden;
        right: 0rem;
        top: 0rem;
        padding-left: 1.7rem;
      }
    }
  }

  &:checked ~ .switchable label {
    &:focus {}

    span {
      display: block;
      position: absolute;

      @include uw-transition($delay: 0s, $duration: 300ms, $timing: "ease-out;", $property: (right, left));

      &.hide {
        left: 0.4rem;
      }

      &.show {
        width: 4rem;
        right: -4.75rem;
        padding-left: 0;
      }
    }
  }

  &:checked ~ .switchable label:after {
    left: 4rem;
    top: 0.15rem;
  }
}

.field_event_date .multiple input[type="checkbox"] ~ .field-item-switch,
.field_event_date .multiple input[type="checkbox"] ~ .field-item-switch .field-item {
  height: auto;
  opacity: 1;
  padding: 0.25rem 0 0.25rem 0;
}

.js .field_event_date .multiple input[type="checkbox"] ~ .field-item-switch .field-item {
  opacity: 0;
  height: 0;
  padding: 0;
  -webkit-transition: opacity 0s ease-out;
  -moz-transition: opacity 0s ease-out;
  -o-transition: opacity 0s ease-out;
  transition: opacity 0s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.field_event_date .multiple input[type="checkbox"]:checked ~ .field-item-switch .field-item {
  padding: 0.25rem 0.25rem 0.25rem 0;
  margin: inherit;
  clear: both;
  width: 100%;
  opacity: 1;
  height: auto;

  @include uw-transition($delay: 0.1s, $duration: 300ms, $timing: "ease-out;", $property: opacity);
}

.js .field_event_date .multiple input[type="checkbox"] ~ .field-item-switch {
  position: relative;
  display: block;
}

.field_event_date .multiple input[type="checkbox"]:checked ~ .field-item-switch {
  @include uw-transition($delay: 0s, $duration: 100ms, $timing: "ease-out;", $property: max-height);
}

.js .field_event_date .multiple input[type="checkbox"]:checked ~ .field-item-switch .field-item {
  margin-bottom: 0;
}

.js .field_event_date .multiple input[type="checkbox"]:checked ~ .field-item-switch .field-item {
  margin-bottom: 0;
}

.field_event_date .multiple input[type="checkbox"] ~ .field-item-switch .field-item {
  &:first-of-type {
    height: auto;
    padding: 0rem 0.25rem 0.25rem 0;
    opacity: 1;

    @include uw-transition($delay: 0s, $duration: 100ms, $timing: "ease-out;", $property: opacity);

    span {
      &.date-display-single {
        padding-right: 6.75rem;
      }
    }
  }
}

.node-type-uw-event .uw-site--title {
  position: relative;

  h1 {
    position: relative;
    padding-right: 2.5rem;

    a.individual-event-ical {
      &:after {
        position: absolute;
        right: 0rem;
        top: 0rem;
        font-family: $fdsu-icon-font;
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        content: $fdsu-add-to-calendar;
        color: $uw-black;
        text-rendering: auto;

        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

        font-size: modular-scale(6);

        @include media($xsmall-screen) {
          font-size: modular-scale(8);
        }


        display: block;
        float: left;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }

      &:hover {
        &:after {
          color: $gray;

          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
        }
      }

      img {
        opacity: 0;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 1;
        right: 0rem;
        top: 0rem;
      }
    }
  }
}
