.uw-site-homepage-tabs {
  width: 100%;
}

.front {
  .block-list {

    .item-class {
      height: 0;
      opacity: 0;
      display: block;
      overflow: hidden;
      margin: 0;

      @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

      width: 100%;

      &.block_current,
      &.block_current-single {
        opacity: 1;
        height: auto;
        overflow: visible;
        margin: 0.5rem 0;

        @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
      }

      .item-list {
        min-height: 10rem;

        @include clearfix;

        > ol,
        > ul {
          padding: 0;
          margin: 0;
          list-style-type: none;
          display: flex;
          flex-wrap: wrap;

          > li {
            @extend %ct_box;

            // @include fill-parent;
            min-height: inherit;
            flex: 1 1 auto;
            flex-grow: 1;
            width: 100%;

            &.first {}

            &.last {
              @include omega;
            }

            @include media($small-screen) {
              width: 48%;

              // clear: inherit;
              &.first {
                margin-right: 1rem;
              }

              &.last {
                @include omega;
              }

              // @include span-columns(6 of 12);
            }


            @include media($medium-screen) {
              width: 48%;

              &:nth-child(2n) {
                @include omega;
              }

              // clear: both;
              // @include span-columns(9 of 9);
            }


            @include media($large-screen) {
              width: 100%;

              &.first {
                @include omega;
              }
            }


            .wide & {
              @include media($large-screen) {
                width: 48%;

                &:nth-child(2n) {
                  @include omega;
                }

                &.first {}

                &.last {}
              }


              // @include span-columns(4.5 of 9);
            }

            &.block_current-single {
              // @include span-columns(12 of 12);
            }

            .home-listing-block-date {
              text-transform: uppercase;

              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));

              display: inline-block;
              margin: 0rem 0 1rem 0;
              padding: 0.5rem 4rem 0.5rem 1rem;
            }

            .home-listing-block-link {
              display: block;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
  }

  .home-listing-block-more-link {
    display: block;
    text-align: center;

    a {
      @extend %button;

      &:hover {
        color: $white;
      }
    }
  }

  .hp-opportunity--deadline-label {
    display: inline-block;
    padding-right: 0.25rem;

    > span {
      display: inline-block;
      float: left;
    }
  }

  .hp-opportunity--type {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
    background: #F7F7F7;
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;
    text-transform: uppercase;
    display: block;
  }

  .uw-site-homepage-tabs {
    @include display(flex);

    @include flex-direction(row);

    // row | row-reverse | column | column-reverse
    @include flex-wrap(wrap);

    //  nowrap | wrap | wrap-reverse
    margin-top: 1rem;
  }

  h2.tab-link {
    text-align: center;
    display: none;

    &.hp-tabs {
      @include flex(1 0 50%);

      @extend %button;

      background-color: $gray;
      color: #fff;
      padding-right: 0;
      padding-left: 0;
      max-width: inherit;
      display: inline-block;
      border-bottom: 0.4rem solid $white;
      cursor: pointer;

      &.block_current {
        body.org_default & {
          border-bottom: 0.4rem solid $dark-gray;
        }
      }
    }

    &.hp-tab {
      display: block;
      text-align: left;
      padding-bottom: 0.2rem;
      border-bottom-style: none;
    }
  }

  @include media($xsmall-screen) {
    h2.tab-link {
      &.hp-tabs {
        @include flex(1);
      }
    }
  }


  @include media($small-screen) {
    h2.tab-link {
      &.hp-tabs {
        @include flex(1);
      }
    }
  }


  @include media($medium-screen) {
    h2.tab-link {
      &.hp-tabs {
        @include flex(1);
      }
    }
  }
}
