.image-gallery-title-caption {
  padding: 1rem;
}
.image-gallery-wrapper {
  .image-title {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0px;
    opacity: inherit;
    padding: 0.5rem;
  }
}