.uw-calendar.view-uw-view-important-dates-calendar .views-exposed-widgets .views-exposed-widget select {
  width: 90%;
  margin: 0;
}

.page-important-dates-entry .uw-site--title {
  position: relative;
  h1 {
    position: relative;
    padding-right: 2.5rem;
    a.individual-event-ical {
      &:after {
        position: absolute;
        right: 0rem;
        top: 0rem;
        font-family: $fdsu-icon-font;
        display: inline-block;
        width:2.5rem;
        height: 2.5rem;
        content: $fdsu-add-to-calendar;
        color: $uw-black;
        text-rendering: auto;
        @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
        font-size: modular-scale(6);
        @include media($xsmall-screen) {
          font-size: modular-scale(8);
        }
        display: block;
        float: left;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      &:hover {
        &:after {
          color: $gray;
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity));
        }
      }

      img {
        opacity: 0;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        z-index: 1;
        right: 0rem;
        top: 0rem;
      }
    }
  }
}

.page-important-dates,
.page-important-dates-archive {
  .uw-site-content {
    padding-top: 0;

    form {
      margin-top: 0;
    }

    .view-id-uw_ct_special_alert_block {
      margin-top: 0;
    }
  }
}

.view.view-uw-view-important-dates-calendar .views-exposed-widgets .views-exposed-widget {
  .form-item {
    margin: 0;

    label {
      margin: 0;
    }
  }
}

.important-dates-filters {

  select {
    margin-bottom: 0;
    width: 90%;
  }

  .form-item {
    margin: 0;

    label {
      margin: 0;
    }
  }

  display: grid;
  grid-gap: 1px;
  grid-row-gap: 0.7rem;
  color: #444;
  grid-auto-flow: row;
  justify-items: stretch;
  grid-template-columns: 25% 25% 25% 25%;
  @include media($large-screen) {

    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  }
  .important-dates-filters-filter {
    vertical-align:bottom;
    display:block;
    padding: 0;
    position: relative;
    label {
      font-size: 1.125rem;
      font-weight: 400;
    }

    .form-item-search input {
      padding: 0 0 0 0.5rem;
      width: 90%;
    }
  }
  > .important-dates-filters-filter:nth-child(1),
  > .important-dates-filters-filter:nth-child(4){
    grid-column:1/5;
  }

  > .important-dates-filters-filter:nth-child(2),
  > .important-dates-filters-filter:nth-child(5){
    grid-column:1/5;
  }
  > .important-dates-filters-filter:nth-child(3),
  > .important-dates-filters-filter:nth-child(6){
    grid-column:1/5;
  }
  @include media($small-screen) {
    > .important-dates-filters-filter:nth-child(1),
    > .important-dates-filters-filter:nth-child(3),
    > .important-dates-filters-filter:nth-child(5){
      grid-column:1/3;
    }

    > .important-dates-filters-filter:nth-child(2),
    > .important-dates-filters-filter:nth-child(4),
    > .important-dates-filters-filter:nth-child(6){
      grid-column:3/5;
    }

  }
  @include media($large-screen) {
    > .important-dates-filters-filter:nth-child(1),
    > .important-dates-filters-filter:nth-child(4){
      grid-column:1/3;
    }

    > .important-dates-filters-filter:nth-child(2),
    > .important-dates-filters-filter:nth-child(5){
      grid-column:3/5;
    }
    > .important-dates-filters-filter:nth-child(3),
    > .important-dates-filters-filter:nth-child(6){
      grid-column:5/7;
    }
  }

  .important-dates-filters__button {
    //padding: 0 0 0 0.5rem;
    margin-top: 0;
    grid-column:1/3;
    input{
      max-width: inherit;
    }
    @include media($small-screen) {


    }
    @include media($large-screen) {
      grid-column:1/4;
    }
    + .important-dates-filters__button{
      grid-column:3/5;

      @include media($large-screen) {
        grid-column:4/7;
      }

    }

  }
}

.view-display-id-month_remote .views-widget-filter-field_uw_imp_dates_sites_push_tid {
  display: none;
}

.uw-archive-link-wrapper {
  padding: 0 0 1rem 0;
}

.uw-important-dates-list {
  table {
    font-family: georgia,"droid serif","Times New Roman",Times,serif;

    td.uw-list-description {
      p:first-child {
        padding-top: 0;
        margin-top: 0;
      }

      p:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }

  .important-dates-special-notes {
    &::before {
      font-size: 0.7rem;
      content: "*";
    }

    &:empty {
      display: none;
    }
    display: block;
    width: 100%;
    font-size: 0.7rem;

    a:empty {
      display:none;
    }
  }

  .title {
    width: 27%;
  }

  .Description {
    width: 32%;
  }

  .field_uw_imp_dates_academic_term_tid {
    width: 21%;
  }

  .field_uw_imp_dates_date_value_1 {
    width: 20%;
  }
}

body.org_default {
  .uw-important-dates-list {
    th.active {
      background: #757575;

      a {
        color: white;
      }
    }

    th,
    td {
      a {
        color: $uw-black;
      }

      a:visited {
        color: $uw-black;
      }
    }

    th {
      a:hover {
        text-decoration: none;
      }
    }

    th.active {
      a {
        color: $uw-white;
      }
    }

    th {
      font-style: normal;
      position: relative;


      a {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }


      a:before {
        border-top: 7px solid #000;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        right: .2rem;
        top: 1.2rem;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
      }

      a:after {
        margin-left: -7px;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #000;
        right: .2rem;
        top: .6rem;
        content: "";
        position: absolute;
        width: 0;
        height: 0;
      }

      a.desc:before {
        border-top: 7px solid #fff;
        top: 1.2rem;
      }

      a.desc:after {
        display: none;
      }

      a.asc:before {
        display: none;
      }

      a.asc:after {
        top: .6rem;
        border-bottom: 7px solid #fff;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.uw-important-dates-archive {
  .uw-site-main--content form {
    margin-top: 0;
  }

  .uw-site-content {
    margin-top: 0;
    padding-top: 0;
  }

  .uw-site--title h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
