.view-opportunities {
  h2 {
    padding-right: 3rem;

    @include media($small-screen) {
      padding-right: 1.5rem;
    }


    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  img[typeof="foaf:Image"] {
    float: left;
    padding-right: 1rem;
  }

  .views-field-field-opportunity-type,
  .views-field-field-applicaton-deadline,
  .views-field-field-number-of-positions {}

  .views-field-field-opportunity-type {
    font-family: $font-1451-medium;
    position: absolute;
    right: 0.8rem;
    background: #F7F7F7;
    padding: 0 0.2rem 0.2rem 0.2rem;
    text-transform: uppercase;
    display: block;

    span {
      font-weight: $weight-regular;
    }
  }

  .views-field-field-number-of-positions,
  .views-field-field-applicaton-deadline {
    display: none;
  }

  > div {
    span {
      &.date-display-single {
        text-transform: uppercase;
        font-family: $font-1451-medium;
      }

      a {
        display: block;
        width: 100%;
      }
    }
  }

  span {
    strong {
      text-transform: uppercase;
      font-weight: $weight-regular;
      font-size: modular-scale(-1);

      // display:none;
      &.views-label-field-opportunity-type {
        display: none;
      }
    }
  }

  .view-content {
    .field-label {
      display: none;
    }

    .views-row {
      position: relative;

      @extend %ct_box;

      padding: 0.5rem;
      margin-bottom: 0.75rem;
      margin-top: 0.75rem;
      min-height: inherit;

      @include media($xsmall-screen) {
        @include span-columns(12 of 12);
      }


      @include media($small-screen) {
        @include span-columns(6 of 12);
      }


      @include media($medium-screen) {
        @include span-columns(8 of 8);
      }


      @include media($large-screen) {
        @include span-columns(4.5 of 9);
      }


      &-first {}

      &-even {
        @include omega;
      }

      &-odd {
        &.views-row-last {
          margin: inherit;
        }
      }

      &-last {
        // @include omega-reset(1n);
     
      }
    }
  }
}
