html.no-scroll {
  position: fixed;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
;
}

body.navbar-administration .navigation-button[aria-expanded=true] ~ .rmc-nav__content-wrapper {
	top:inherit;
}
.uw-header--global .rmc-nav {

  @include media($medium-screen) {
    display: none;
  }

  color: $uw-white;
  background-color: $uw-black;

  &:hover, &:focus-within {
    color: $uw-gold;

    .navigation-button > span.navigation-button__lines {
      &,
      &::before,
      &::after {
        background-color: $uw-gold;
      }
    }
  }
  .navigation-button[aria-expanded=true] ~ .rmc-nav__content-wrapper {
    transform: translate(100vw, 0);
    overflow-x: hidden;

  }
  .toggle-sub[aria-expanded=true]:before {
    transform: rotate(180deg);
  }
  .toggle-sub[aria-expanded=false]:before {
    transform: rotate(0deg);
  }
  .rmc-nav__content-wrapper {
    right: 100vw;
    top:inherit;
  }
 
  form {
    padding: 0;
    margin: 0;
  }
  .navigation-button,
  li,
  .tab > .tab-label {
    font-family: $condensed-Book-font-family;
  }
  // button look
  .navigation-button {
    -webkit-font-smoothing: inherit;
    background-color: $black;
    border-radius: inherit;
    border: none;
    cursor: pointer;
    letter-spacing: 0.045rem;
    text-transform: uppercase;
    padding: 1.85rem 0.5rem 0.5rem 0.5rem;
    display: inherit;
    text-decoration: none;
    user-select: none;
    vertical-align: inherit;
    white-space: nowrap;
    width: 100%;
    max-width: inherit;
    margin: inherit;
    color: $white;
    font-size: modular-scale(-1);
    position: relative;
    min-height: 4.375rem;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;

    &:hover,
    &:focus {
      background-color: $black;
      color: $uw-gold;
    }
  }

  label.navigation-button {
    padding: 0;
  }

  .navigation-button > span.navigation-button__lines {
    position: absolute;
    top: 33.5%;
    left: 50%;
    margin-left: -0.75rem;

    @include uw-transition($delay: 0s, $duration: 0ms, $timing: "linear", $property: background-color);

    @include media($xsmall-screen) {
      margin-left: -0.75rem;
    }


    display: block;
    -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    height: 0.1rem;
    width: 1.5rem;
    background-color: #fff;
    font-size: 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .navigation-button[aria-expanded=true] > span.navigation-button__lines,
  input.responsive-nav-check:checked + .navigation-button > span.navigation-button__lines {
    background-color: transparent;
    width: 1.5rem;

    @include uw-transition($delay: 0s, $duration: 0ms, $timing: "linear", $property: background-color);
  }

  .navigation-button button {
    overflow: visible;
  }

  .navigation-button .navigation-button__toggle:hover {
    color: $uw-gold;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }

  .navigation-button > span.navigation-button__lines:before,
  .navigation-button > span.navigation-button__lines:after {
    -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }

  .navigation-button > span.navigation-button__lines:before {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  .navigation-button > span.navigation-button__lines:after {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    transform: translateY(300%);
  }

  .navigation-button[aria-expanded=true] > span.navigation-button__lines:before,
  input.responsive-nav-check:checked + .navigation-button > span.navigation-button__lines:before {
    -webkit-transform: translateY(0) rotate(45deg);
    -moz-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg);
    background: $uw-gold;
  }

  .navigation-button[aria-expanded=true] > span.navigation-button__lines:after,
  input.responsive-nav-check:checked + .navigation-button > span.navigation-button__lines:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    -moz-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg);
    background: $uw-gold;
  }

  .toggle {
    position: absolute;
    right: 0.6rem;
    cursor: pointer;
    color: #fff;
  }

  .container {
    background: #fff;
    min-height: 100%;
    padding: 0;
    margin: 0;
  }

  .responsive-nav-menu,
  .responsive-nav-menu .sub-nav {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  /* http://davidwalsh.name/translate3d */
  /* #### - corrects 'unfixing' bug in Safari - uncomment if you have position: fixed elements inside .container - #### */
  /* @media screen and (-webkit-min-device-pixel-ratio: 0) { .container { -webkit-transform: none !important } } */

  /* #### - define ids of animated container, menu and sub-menus here - #### */

  // menu wrap
  .responsive-nav-menu {
    border-top: 1px solid transparentize($white, 0.9);
    //position: absolute;
    width: calc(100% + 1rem);
    background: #000;
    z-index: 10;
    left: -90rem;

    .sub-nav .toggle span.ifdsu {
      font-weight: $weight-light;
    }


  ul {
    background: $uw-black;
    line-height: 2.75rem;
    text-decoration: none;
    list-style: none;
    /* Ensure the is no overflow at play on the list. */
    overflow:inherit;
    &.menu{
      padding:0 0 9.76rem 0;
      + .menu{
        display:block;
      }
    }
    &.top-level-expanded{
      padding:0;
      + .menu{
        display:none;
      }
    }
  }
  li a {
      margin-right: 0;
      line-height: 1.5rem;
      text-decoration: none;
      padding-right:2rem;

  }
  /* Adding padding to push away from the expand arrow.*/
  li.expanded{
    a{
      padding-right:4.25rem;
    }
  }
  /* Adding the 2rem of padding to back last instance */
  li.expanded.sub-nav-parent-view{
    li:last-child.first.last.leaf{
      a{
        padding-right:2rem;
      }
    }
  }
  li a:hover,
  li a:focus,
  a.active,
  .toggle-sub:hover {
    background: $uw-primary-colour;
    color: $uw-white
  }
  .toggle-sub {
    font-family: fdsu-rwd;
    font-weight: 700;
    padding: 1rem 2rem .95rem 1rem;
    right: 1rem;
    height: 100%;
    &:before {
      content: "\e908";
      padding: 0;
      }
    }
  }
  .tab {
    border-right: 1px solid $uw-black;
    margin: 0;
    padding: 0;
    float: left;
    height: auto;

    /* Make current tab stand out. */
    &[aria-selected=true] > div.tab-label,
    &[aria-selected=true] > label,
    input[name=tab-group-responsive_menu_combined]:checked + label {
      color: $uw-black;
      background-color: $uw-gold;
    }
  }
  
}


