.uw-calendar {
  .js & {
    tr.single-day,
    tr.multi-day {
      .inner {
        .views-field-title {
          display: none;
          height: 0;
        }
      }
    }
  }

  .views-exposed-form {
    padding: .5rem;
    margin-bottom: .75rem;
    margin-top: .74rem;
    border: 1px solid #eee;
    min-height: inherit;
  }

  .views-exposed-widgets {
    display: grid;
    grid-gap: 1px;
    color: #444;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
    padding: 0;
    margin: 0;

    @include media($large-screen) {}


    .views-exposed-widget {
      input {
        //font-size: .79012rem;
        max-width: inherit;
      }

      select {
        width: inherit;
      }

      &.views-reset-button {
        padding-right: 0;
      }

      &.views-widget-filter-types {
        grid-column: 1/3;
        grid-row: 1;
      }

      &.views-widget-filter-audience {
        grid-column: 3/5;
        grid-row: 1;
      }

      &.views-widget-filter-combine {
        grid-column: 5/7;
        grid-row: 1;
      }

      &.views-submit-button {
        grid-column: 1/4;
        grid-row: 2;
      }

      &.views-reset-button {
        grid-column: 4/7;
        grid-row: 2;
      }
    }
  }

  .uw-calendar-show,
  .uw-calendar-hide {
    background-color: #757575;
    width: 100%;
    text-align: left;
    color: #fff;
    font-family: $font-1451-medium;
    font-size: .70233rem;
    font-weight: inherit;
    padding: 0.2rem 0 0.2rem 7px;

    &:hover {
      background-color: #eee;
      color: #4e4e4e;
      cursor: pointer;
    }
  }

  .uw-calendar-hide {
    display: none;
  }

  .calendar-calendar {
    td .inner .calendar div a {
      border-radius: 5px;
    }

    .month-view {
      table {
        display: table;
        width: 100%;
      }

      td {
        color: $uw-black;

        .inner div.day a {
          color: $uw-black;
        }
      }

      td.empty {
        color: $uw-black;
      }

      td.date-box.today,
      .full tr td.multi-day.starts-today,
      .full tr td.single-day.today {
        border-color: #e4b429;
        border-left: 2px solid #e4b429;
      }

      .full {
        tr.single-day {
          overflow: visible;

          .monthview {
            background: none;
            padding: 0;
            overflow: visible;

            .views-field-title {
              a {
                display: block;
                background-color: $uw-gold;
                color: $uw-black;
                font-family: $font-1451-medium;
                font-size: 0.70233rem;
                padding: 0.2rem 0 0.2rem 0.3rem;
                font-weight: inherit;
              }

              a:hover {
                background-color: $uw-black;
                color: $uw-gold;
                text-decoration: none;
              }
            }
          }
        }

        tr.multi-day {
          td.single-day {
            a {
              display: block;
              color: $uw-black;
              font-family: Typ1451-Medium,verdana,sans-serif;
              font-size: 0.70233rem;
              font-weight: inherit;
              padding: 0.2rem 0 0.2rem 0.3rem;
            }

            a:hover {
              color: $uw-white;
              text-decoration: none;
            }

            .monthview {
              background: $uw-gold;
              color: $uw-black;
            }

            .monthview:hover {
              background: $uw-black;
              color: $uw-white;

              a {
                color: $uw-white;
              }
            }
          }

          .inner {
            .monthview {
              background: $uw-black;
              color: $uw-white;

              .continues,
              .continuation,
              .cutoff {
                background: $uw-black;
                font-family: $font-1451-medium;
                text-transform: uppercase;
                font-size: 0.70233rem;
                padding: 0;
              }
            }

            .monthview:hover {
              background: #fffaaa;

              a {
                color: $uw-black;
              }

              .continues,
              .continuation,
              .cutoff {
                background: #fffaaa;
                color: $uw-black;
              }
            }

            a {
              display: block;
              color: $uw-white;
              font-family: Typ1451-Medium,verdana,sans-serif;
              font-size: 0.70233rem;
              font-weight: inherit;
            }

            a:hover {
              color: $uw-black;
              text-decoration: none;
            }
          }

          .views-field-title {
            background-color: $uw-gold;
          }
        }
      }
    }
  }

  .calendar.monthview {
    .views-field-title {
      a {
        font-size: inherit;
      }
    }
  }
}

.date-nav-wrapper {
  height: auto;

  .uw-site-main--content & {
    .date-heading {
      form {
        margin-top: 0;
      }
    }
  }

  .uw-site-content .view & {
    .date-prev,
    .date-next {
      height: auto;

      @include media($medium-screen) {
        height: 100%;
      }


      a {
        @include media($medium-screen) {
          height: 100%;
          padding-top: 20%;
        }
      }
    }

    .date-nav {
      display: grid;
      display: -ms-grid;
      grid-template-columns: 50% 50%;
      -ms-grid-columns: 50% 50%;
      padding: 0;
      margin: 0;

      .date-prev {
        position: relative;
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        right: inherit;
        text-align: center;
        width: 100%;

        a {
          max-width: 100%;
          font-weight: inherit;
        }
      }

      .date-heading {
        -ms-grid-row: 2;
        grid-row: 2 / 3;
        grid-column: 1 / 3;

        h2 {
          width: 100%;
          text-align: center;
          padding: 0;
        }
      }

      .date-next {
        position: relative;
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        right: inherit;
        width: inherit;
        text-align: center;

        a {
          max-width: 100%;
          font-weight: inherit;
        }
      }

      @include media($medium-screen) {
        grid-template-columns: 20% 60% 20%;
        -ms-grid-columns: 20% 60% 20%;

        .date-prev {
          -ms-grid-row: 1;
          -ms-grid-column: 1;
          grid-row: 1 / 2;
          grid-column: 1 / 2;
        }

        .date-heading {
          -ms-grid-row: 1;
          -ms-grid-column: 2;
          grid-row: 1 / 2;
          grid-column: 2 / 3;
        }

        .date-next {
          -ms-grid-row: 1;
          -ms-grid-column: 3;
          grid-row: 1 / 2;
          grid-column: 3 / 4;
        }
      }
    }
  }
}

.date-heading {
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-bottom: 0.5rem;

  h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1 / 2;
  }

  form,
  .navigate-calendar {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-row: 2 / 3;
  }
}

.navigate-calendar {
  display: block;
  width: 100%;

  &__submit {
    input {
      float: inherit;
      padding: .3rem;
      font-size: .79012rem;
      max-width: 50%;
    }
  }

  .form-wrapper {
    display: block;
    align-items: center;
    justify-content: center;

    @include media($large-screen) {
      display: flex;
    }
  }

  .form-item {
    margin: 0;
  }

  &__year,
  &__month {
    flex: auto;

    label {
      display: inline-block;
      margin: 0;
      padding: 0 0.2rem 0 0;
    }

    select {
      width: auto;
      display: inline-block;
      margin-bottom: 0;
    }
  }

  &__submit {
    flex: auto;
    align-self: flex-start;
    margin-top: 0.2rem;
  }
}
