/**
 * area colours need to be set in the following documents:
 * uw_ct_event/css/uw_ct_event.css
 * uw_ct_home_page_banner/css/banner.css
 * uw_ct_home_page_banner/css/uw_banner_slideshow.css
 * uw_wysiwyg_ckeditor/css/uw_ckeditor.css
 * uw_fdsu_theme/css/colors.css
 */

$faculties:
org_default $uw-black $uw-black $dark-gray url("../images/rwd-home/chevrons-yellow.png") $medium-gray org_default_bg $uw-gold #fffaaa #e4b429 #fdd54f #e4b429,
org_ahs $uw-ahs $uw-ahs-light darken($uw-ahs, 9%) url("../images/rwd-home/chevrons-teal.png") $uw-ahs org_ahs_bg #fff #97DFEF #00BED0 #0098A5 #005963,
org_art $uw-arts $uw-arts-light darken($uw-arts, 5%) url("../images/rwd-home/chevrons-orange.png") $uw-arts org_art_bg #fff #FFD5A5 #FBAF00 #E78100 #D93F00,
org_eng $uw-engineering $uw-engineering-light darken($uw-engineering, 5%) url("../images/rwd-home/chevrons-purple.png") #fff org_eng_bg #fff #D0B4EF #BE33DA #8100B4 #57058B,
org_env $uw-environment $uw-environment-light darken($uw-environment, 5%) url("../images/rwd-home/chevrons-green.png") #fff org_env_bg #fff #DAF582 #BED500 #B4BE00 #607000,
org_mat $uw-math $uw-math-light darken($uw-math, 5%) url("../images/rwd-home/chevrons-pink.png") $uw-math org_mat_bg #fff #FFBEEF #FF63AA #DF2498 #C60078,
org_sci $uw-science $uw-science-light darken($uw-science, 5%) url("../images/rwd-home/chevrons-blue.png") $uw-science org_sci_bg #fff #B4D5FF #63A0FF #0073CE #0033BE,
org_school $uw-school $uw-schools-light darken($uw-school, 5%) url("../images/rwd-home/chevrons-red.png") $uw-school org_school_bg #fff #FFA5AA #E41740 #B71233 #80001F,
org_cgc $uw-cgc $uw-conrad-light darken($uw-cgc, 5%) url("../images/rwd-home/chevrons-cgc.png") $uw-cgc org_cgc_bg #fff #FFA5AA #E41740 #B71233 #80001F,
org_ren $uw-ren $uw-renison-light darken($uw-ren, 5%) url("../images/rwd-home/chevrons-ren.png") $uw-ren org_ren_bg #fff #FFA5AA #E41740 #B71233 #80001F,
org_stj $uw-stj $uw-st-jeromes-light darken($uw-stj, 5%) url("../images/rwd-home/chevrons-stj.png") $uw-stj org_stj_bg #fff #FFA5AA #E41740 #B71233 #80001F,
org_stp $uw-stp $uw-st-pauls-light darken($uw-stp, 5%) url("../images/rwd-home/chevrons-stp.png") $uw-stp org_stp_bg #fff #FFA5AA #E41740 #B71233 #80001F;

body {
  @each $faculty in $faculties {
    &.#{nth($faculty, 1)} {
      h1, h2, h3, h4, h5, h6 {
        color: $black;
      }

      hr {
        border-color: nth($faculty, 5);
        color: nth($faculty, 2);
      }

      h2 {
        // background-color:nth($faculty, 2);
        // color:nth($faculty, 3);
        // padding:0.25rem 1rem;

        &.no-border,
        .view-opportunities &,
        &.home-listing-block-link,
        &.event-title,
        &.anchor-name,
        .uw-site-sidebar--second &,
        .uw-site-sidebar--promo &,
        .view-uw-service-categories &,
        .uw-site--modal-wrap &,
        .date-heading &,
        .staff-contact & {
          padding: 0;
          background-color: transparent !important;
          color: $black;
        }
      }

      .staff-contact h2,
      &.page-news h2,
      .uw-site-sidebar--second h2,
      .uw-site-sidebar--promo h2,
      .view-content h2,
      .uw-site-navigation h2 {
        padding: 0;
        color: nth($faculty, 2);
        background-color: transparent !important;
      }

      .uw-site--modal-wrap h2 {
        color: $white;
        padding: 0;
      }

      .multiple .switchable label {
        border: 1px solid nth($faculty, 8);
        color: nth($faculty, 2);

        span {
          &.hide {
            color: nth($faculty, 8);
          }

          &.show {
            background-color: nth($faculty, 8);
          }
        }

        &:focus {
          border: 1px solid nth($faculty, 10);

          span.show {
            background-color: nth($faculty, 10);
          }

          &:after {}
        }

        &:after {
          background-color: nth($faculty, 2);
        }
      }

      .multiple input:checked ~ .switchable label {
        color: nth($faculty, 8);
        background-color: nth($faculty, 2);

        span {
          &.hide {}

          &.show {
            background-color: nth($faculty, 8);
          }
        }

        &:after {
          background-color: nth($faculty, 8);
        }

        &:focus {
          color: nth($faculty, 10);
          border: 1px solid nth($faculty, 10);

          &:after {
            background-color: nth($faculty, 10);
          }
        }
      }

      .field_event_date .multiple input[type="checkbox"] ~ .field-item-switch .field-item {
        &:first-of-type {
          &:after {
            background: nth($faculty, 8);
            color: nth($faculty, 2);
          }
        }
      }

      .field_event_date .switchable {
        background-color: nth($faculty, 2);
      }

      .caption {
        strong {
          color: nth($faculty, 2);
        }
      }

      .view-content h2:first-child span {
        color: $black;
      }

      blockquote {
        color: nth($faculty, 2);

        p {
          color: nth($faculty, 2);
        }

        cite {
          color: nth($faculty, 2);

          strong {
            color: nth($faculty, 2);
          }
        }
      }
      .expandable h2:first-child div[role="button"] ,
      .expandable-controls button {
        color: nth($faculty, 8);
        background-color: nth($faculty, 2);
        border:2px solid nth($faculty, 2);
        &:after {
          color: nth($faculty, 8);
        }
        &:hover,&:focus{
          background-color:$white;
          border:2px solid #fafafa;

          color: nth($faculty, 2);
          &:after {
            color: nth($faculty, 2);
          }
          a {
            color: nth($faculty, 2);
            &:hover,
            &:focus{
              color: nth($faculty, 2);
              text-decoration:none!important;
            }
          }
          &[aria-expanded="true"]
          {
            border-bottom:2px solid  transparent;
          }
        }
        a {
          color: nth($faculty, 8);
          text-decoration:underline!important;
          @include uw-transition($delay: 0s, $duration:200ms,  $timing:'linear', $property: (color, background-color,border-color,opacity));

          &:hover {
            color: nth($faculty, 8);
            text-decoration:none;
          }

          &:focus {
            color: nth($faculty, 8);
            text-decoration:none;
          }
        }
      }

      a {
        &:visited {
          color: nth($faculty, 4);
        }

        &:link {
          color: nth($faculty, 2);
        }

        &:hover {
          color: nth($faculty, 4);
        }

        &.search-button {
          color: $white;
        }
      }

      a.uw-top-button,
      a.uw-footer-social-button {
        &:visited {
          color: nth($faculty, 2);
        }

        color: nth($faculty, 2);

        &:hover,
        &:focus {
          color: $white;
        }
      }

      .uw-site--modal-wrap a {
        color: $white;
      }

      .date-heading a {
        color: nth($faculty, 3);
      }

      .banner {
        a {
          color: nth($faculty, 3);
        }
      }

      .uw-site-footer {
        a {
          color: $white;
        }
      }

      .uw-footer-phone {
        a {
          color: $yellow-dark;
        }
      }

      .uw-territorial{
        a{
          color: $yellow-dark;
        }
      }

      .responsive-nav-menu {
        a {
          color: $white;
        }
      }

      .rss_link,
      .feed-icon,
      .read-more-link,
      .home-listing-block-more-link,
      .pager-load-more {
        a {
          color: $white;

          &:visited {
            // color: $dark-gray;
          }

          &:link {
            // color: $white;
          }

          &:focus {
            color: $dark-gray;
          }

          &:hover {
            color: $dark-gray;
          }
        }
      }

      .ui-menu {
        .ui-menu-item {
          a {
            color: $gray;
          }
        }
      }

      .services-tab-item,
      .catalog-tab-item {
        a {
          color: $white;
          border-right: 1px solid $lighter-gray;

          &:hover {
            color: $dark-gray;
          }

          &:focus {
            color: $dark-gray;
          }
        }
      }

      .services-search-tab a {
        background-color: $uw-gold;
        color: $black;
        max-width: inherit;
        padding-left: 2.1rem;

        &:hover {
          color: $white;
          background-color: $dark-gray;
        }
      }

      .catalog-search-tab a {
        background-color: $uw-gold;
        color: $black;
        max-width: inherit;
        padding-left: 2.1rem;

        &:hover {
          color: $white;
          background-color: $dark-gray;
        }
      }

      ul.share-buttons {
        li {
          a {
            &:before {
              background-color: nth($faculty, 2);
            }

            &:hover {
              &:before {
                background-color: nth($faculty, 4);
                color: $white;
              }
            }
          }
        }
      }

      .breadcrumb a {
        color: nth($faculty, 2);

        &:hover {
          color: $dark-gray;
        }
      }

      .global-menu {
        li {
          a {
            color: $white;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .site-menu {
        li {
          &.active-trail {
            background-color: $lightest-gray;

            a {
              color: nth($faculty, 2);
              border-right: solid 5px $lighter-gray;
              border-bottom: solid 1px $lighter-gray;

              .expanded & {
                color: $black;
              }

              &.active {
                background-color: $lighter-gray;
                color: nth($faculty, 2);

                &:hover {
                  background-color: $light-gray;
                  border-color: nth($faculty, 2);
                }
              }
            }

            .menu {
              li {
                a {
                  color: $black;

                  &.active {
                    color: nth($faculty, 2);
                  }
                }
              }
            }
          }

          a {
            color: $black;
            border-right: solid 5px $lighter-gray;
            border-bottom: solid 1px $lighter-gray;

            &:hover {
              background-color: $lighter-gray;
              border-color: nth($faculty, 3);
            }

            &.active {
              background-color: $lighter-gray;
              border-color: nth($faculty, 4);
              color: nth($faculty, 2);

              &:hover {
                background-color: $light-gray;
                border-color: nth($faculty, 3);
              }
            }
          }
        }
      }

      .uw-site--header {
        a {
          color: $black;

          &:visited {
            color: $black;
          }

          &:link {
            color: $black;
          }

          &:focus {
            color: $black;
          }

          &:hover {
            color: $black;
          }
        }
      }

      .uw-site-navigation h2 {
        border-bottom: solid 1px $medium-gray;
        padding: 0.75rem 0 0.75rem 0.5rem;
        color: nth($faculty, 2);
        background-color: $lightest-gray !important;
      }

      #uwb_paginator li.uwb_controls {
        @include media($medium-screen) {
          background-color: nth($faculty, 8);
          border-right: 0px;

          button {
            &.pause,
            &.play {
              color: nth($faculty, 2);
              background-color: nth($faculty, 8);

              &:hover,
              &:focus {
                color: nth($faculty, 8);
                background-color: nth($faculty, 2);
              }
            }
          }
        }
      }

      .banner-caption-check[type="checkbox"] ~ .banner-caption {
        background-color: nth($faculty, 2);

        @include media($medium-screen) {
          background-color: transparentize(nth($faculty, 2), 0.2);
        }
      }

      .banner-caption {
        span {
          color: nth($faculty, 3);
        }
      }

      .uw-footer, .uw-site-footer.open-site-footer {
        // background-color: nth($faculty,2);
      }

      //News, events and blog tabs on homepage
      &.front {
        h2.tab-link.hp-tabs.block_current {
          background-color: $lighter-gray;
          color: $dark-gray;
          border-bottom: 0.4rem solid nth($faculty, 2);

          &:hover,
          &:focus {
            background-color: $dark-gray;
            color: #fff;
          }
        }
      }

      .home-listing-block-date {
        background-color: nth($faculty, 2);
        color: nth($faculty, 8);
      }

      &.page-events,
      &.page-news,
      &.page-blog,
      &.node-type-uw-news-item,
      &.node-type-uw-event,
      &.node-type-uw-blog,
      &.page-taxonomy,
      &.page-comment {
        .field-name-field-news-date {
          background-color: nth($faculty, 2);
          color: nth($faculty, 8);
        }

        .date-display-single, .date-display-range {
          background-color: nth($faculty, 2);
          color: nth($faculty, 8);
        }

        .submitted {
          span {
            background-color: nth($faculty, 2);
            color: nth($faculty, 8);
          }

          .comment-time {
            background-color: nth($faculty, 2);
            color: nth($faculty, 8);
          }
        }

        .comment {
          .attribution {
            .submitted {
              .commenter-name {
                background-color: transparent;

                span {
                  background-color: transparent;

                  &.username {
                    background-color: transparent;
                    color: black;
                  }

                  span.username {
                    background-color: transparent;
                    color: black;
                  }
                }
              }
            }
          }

          .new {
            background-color: nth($faculty, 2);
            color: nth($faculty, 8);
          }
        }
      }

      //   span.date-display-single{
      //   background-color:nth($faculty,2);
      //   color:nth($faculty,8);

      // }

      form.ctools-use-modal-processed input[type="submit"] {
        color: $dark-gray;
        background-color: $white;

        &:hover {
          color: $white;
          background-color: $dark-gray;
        }
      }
    }
  }
}

/* Any div element classed with the school/dept prefix */
div {
  @each $faculty in $faculties {
    &.#{nth($faculty, 1)} {
      color: nth($faculty, 2);
    }

    &.#{nth($faculty, 7)} {
      background-color: nth($faculty, 2);
    }
  }
}
