/*fixes drop shadow problems in IE10+, unfortunately must apply to all browsers*/
.ie-resize-fix {
  // height: 1em;
}

/* Fixes for ISTWCMS-750: WCAG Contrast colour errors.*/
#navbar-bar h2,
#site--offcanvas .content,
#uw-header,
#uw-header-content,
#uw-header-logo,
#uw-header-logo a {
  background-color: $site-global-header-bg;
  color: $white;
}

#navbar-administration {
  width: 0px !important;
}

.off-screen, .element-invisible {
  display: block;
  text-indent: -9999px;
  height: 0px;
  overflow: hidden;

  &:focus {
    text-indent: 0px;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

#navbar-administration {
  z-index: map-get($zindex, overlay);
}

// layout of global elements
.uw-section {
  &--inner {
    padding: 0rem 0.8rem 0rem 0.8rem;
    clear: both;

    @include outer-container;

    @include media($xsmall-screen) {}


    @include media($medium-screen) {
      padding: 0rem 0.8rem 0rem 0.8rem;
    }


    @include media($large-screen) {
      padding: 0;
    }


    .uw-header--global & {
      padding: 0rem 0rem 0rem 0.8rem;
    }

    .uw-header--banner__alt & {
      @include outer-container;

      margin-bottom: 1rem;
      position: relative;
      padding: 0;

      @include media($medium-screen) {
        margin-bottom: 2rem;
      }
    }

    .uw-site--offcanvas & {
      @include outer-container(100%);

      .menu-open & {
        overflow-x: hidden;
      }
    }

    .uw-site--colors & {
      @include outer-container(100%);

      padding: 0;
    }

    .uw-site-footer & {
      @include outer-container;

      min-height: 5.625rem;
    }

    .uw-site-share & {
      @include outer-container(100%);

      min-height: 3rem;
      background: $lighter-gray;
      padding: 0;

      @include media($medium-screen) {
        padding: 0rem 0.8rem 0rem 0.8rem;
      }


      @include media($large-screen) {
        padding: 0rem;
      }
    }

    .uw-site-footer--global & {
      @include outer-container;
    }
  }
}

.uw-site {
  @include outer-container(100%);

  //make 100% for full width
  &--inner {
    @include outer-container(100%);

    // make 100% for full width

  }

  &--header {
    // inside the global header
    @include outer-container(100%);

    padding: 0.8rem 0 0.5rem 0;

    @include media($medium-screen) {
      padding: 0.6rem 0 0.5rem 0;
    }


    text-align: center;
    min-height: $site-header-height;
    line-height: $base-line-height;
    height: auto;
    background-color: $site-header-bg;
    text-transform: uppercase;

    img {
      vertical-align: bottom;
    }
  }

  &--off-canvas {
    @include outer-container(100%);

    overflow: hidden;
  }

  &--main-top {
    @include span-columns(12);

    @include media($medium-screen) {
      @include span-columns(9);

      @include omega;
    }
  }

  &--colors {
    @include outer-container(100%);
  }

  &--banner {}

  &--messages {}

  &--help {}

  &--breadcrumb {
    text-align: center;
    line-height: 1.125;

    @include media($medium-screen) {
      text-align: left;
    }


    // Inline list.
    .breadcrumb > ol,
    .breadcrumb > ol > li {
      margin: 0;
      padding: 0;
      display: inline;
    }

    .breadcrumb > ol > li::after {
      list-style-type: none;
      content: ' » ';
    }
  }

  &--title {}

  //  />top bar above site content
  &-admin {
    &--tabs {
      @include span-columns(12);

      @include media($medium-screen) {
        @include span-columns(8);

        @include omega;
      }


      @include media($large-screen) {
        @include span-columns(9);

        @include omega;
      }
    }
  }

  &-navigation {
    //left navigation column
    display: none;

    @include media($medium-screen) {
      @include span-columns(3);

      min-height: 30rem;
      background: #fff;

      h2 {
        margin: 0;
        padding: 0.75rem 0 0.75rem 0.5rem;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 95% 50%;
        text-transform: uppercase;

        // background: url('../images/rwd/chevrons.png') no-repeat -16px 0;

      }
    }


    @include media($large-screen) {
      @include span-columns(3);
    }


    &--specific {
      //left menu menu code
      .site-menu {
        max-width: 93%;
        background-color: $white;

        h2 {
          border-bottom: none;
        }

        a {
          display: block;
          text-decoration: none;
          padding: 0.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover,
          &.active {
            // background-color: $tab-bg-color !important;
          }
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            padding: 0;
            margin: 0;
            list-style-image: none;
            list-style-type: none;
            position: relative;

            &:after {
              font-family: $fdsu-icon-font;
              content: $fdsu-arrow;
              font-size: modular-scale(-5);
              display: block;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              position: absolute;
              right: 0.8rem;
              top: 0.9rem;
            }

            a {
              &.active {
                // color: $uw-black;
              }
            }

            &.expanded {
              &:after {
                font-family: $fdsu-icon-font;
                content: $fdsu-arrow;
                font-size: modular-scale(-5);
                display: block;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -ms-transform: rotate(90deg);
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
              }

              a {
                color: $black;
                padding-left: 0.4rem;
                background-image: none;
                background-repeat: no-repeat;
                background-position: 0.4rem center;
                padding-right: 1.5rem;
              }

              &.active-trail {
                a {
                  padding-left: 0.4rem;
                }

                ul {
                  li {
                    a {
                      padding-left: 1.2rem;
                    }

                    ul {
                      li {
                        a {
                          padding-left: 1.4rem;
                        }
                      }
                    }
                  }
                }
              }
            }

            &.collapsed {
              &:after {
                font-family: $fdsu-icon-font;
                content: $fdsu-arrow;
                font-size: modular-scale(-5);
                display: block;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                -ms-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
              }

              a {
                background-image: none;
                background-repeat: no-repeat;
                background-position: 0.4rem center;

                /* Items with sub-menus have an arrow, make sure we don't overlap */
                padding-right: 1.5rem;
              }
            }

            &.leaf {
              padding: 0;

              &:after {
                content: "";
              }

              a {
                background-image: none;
                background-repeat: no-repeat;
                background-position: 0.4rem center;
              }
            }
          }
        }
      }

      &__state {}

      &__grey-out {}
    }
  }

  &--main {
    //   --main wraps the inner section site between header / banner_alt and the footers.
    @include outer-container;

    margin-bottom: 2rem;
  }

  &-main {
    &--content {
      // this wraps the right column of the site
      @include span-columns(12);

      @include media($medium-screen) {
        @include span-columns(9);
      }


      @include media($large-screen) {
        @include span-columns(9);
      }
    }
  }

  &--cbar {
    @include align-items(start);

    // start|end|center|baseline|stretch
    @include display(flex);

    @include flex-direction(row);

    // row | row-reverse | column | column-reverse
    @include justify-content(flex-start);

    @include flex-wrap(wrap);

    //  nowrap | wrap | wrap-reverse
    @include box-orient(horizontal);

    // horizontal|vertical|inline-axis|block-axis|inherit
    @include box-pack(start);

    // start|end|center|justify
    @include box-lines(multiple);

    // single|multiple
    width: 100%;

    .uw-cbar {
      padding: 0;
      margin: 0;
      height: 0.625rem;

      @include flex(1);

      @include media($small-screen) {
        height: 0.875rem;
      }


      @include media($medium-screen) {
        height: 1rem;
      }


      @include media($large-screen) {
        height: 1.125rem;
      }
    }
  }

  &-content {
    // #content -- content body column that can be wide or not
    min-height: 1px;
    display: block;
    padding: 0.9rem 0 0 0;

    div + h2 {
      margin-top: 1rem;
    }

    .gmap {
      margin: 1rem 0;
    }

    @include span-columns(12 of 12);

    .no-filter {
      .rss_link {
        width: 100%;
      }
    }

    .has-filter {
      .rss_link {
        @include flex(1);
      }
    }

    .controls {
      width: 100%;
      display: block;
      margin: 1rem 0;

      @include align-items(start);

      // start|end|center|baseline|stretch
      @include display(flex);

      @include flex-direction(row);

      // row | row-reverse | column | column-reverse
      @include justify-content(flex-start);

      @include flex-wrap(wrap);

      //  nowrap | wrap | wrap-reverse
      @include box-orient(horizontal);

      // horizontal|vertical|inline-axis|block-axis|inherit
      @include box-pack(start);

      // start|end|center|justify
      @include box-lines(multiple);

      // single|multiple
      width: 100%;

      @include clearfix;

      .page-blog &,
      .page-news &,
      .node-type-uw-news-item &,
      .node-type-uw-event &,
      .page-about-people &,
      .page-people-profiles &,
      .node-type-uw-embedded-facts-and-figures &,
      .node-type-uw-ct-single-page-home &,
      .page-taxonomy &,
      .node-type-uw-ct-person-profile &,
      .node-type-contact & {
        #ct-filters {
          padding: 0;
          margin: 0;
          border-right: 1px solid lighten($uw-gray, 40%);

          @include flex(1);
        }

        .rss_link {
          padding: 0;
          margin: 0;

          @include flex(1);
        }
      }

      .page-events & {
        #ct-filters {
          padding: 0;

          @include flex(1);

          margin-bottom: 0.2rem;
        }

        .rss_link {
          padding: 0;
          margin-bottom: 0.2rem;
        }

        .feed-icon {
          padding: 0;

          @include flex(1);

          margin-bottom: 0.2rem;
        }
      }

      .node-type-uw-blog &,
      .node-type-uw-event &,
      .node-type-uw-news-item &,
      .node-type-uw-opportunities & {
        display: none;
      }
    }

    @include media($xsmall-screen) {
      .controls {
        .page-events & {
          .rss_link {
            margin: 0;
            border-right: 1px solid lighten($uw-gray, 40%);
          }

          .feed-icon {
            @include flex(1);

            margin: 0;
            border-right: 1px solid lighten($uw-gray, 40%);
          }

          #ct-filters {
            @include flex(1);

            margin: 0;
            border-right: 1px solid lighten($uw-gray, 40%);
          }
        }
      }
    }


    @include media($medium-screen) {
      @include span-columns(9 of 9);

      ul {
        margin-left: 0.9rem;
        margin-bottom: 1rem;
      }

      .uw-site--modal-wrap ul,
      ul.links {
        margin-left: 0;
      }

      .wide &,
      &.wide,
      .page-opportunities &,
      .page-taxonomy & {
        @include span-columns(9 of 9);
      }
    }


    @include media($large-screen) {
      @include span-columns(6 of 9);

      .wide &,
      &.wide,
      .page-opportunities &,
      .page-blog &,
      .page-news &,
      .node-type-uw-news-item &,
      .node-type-uw-event &,
      .page-about-people &,
      .page-people-profiles &,
      .node-type-uw-embedded-facts-and-figures &,
      .node-type-uw-ct-single-page-home &,
      .page-taxonomy &,
      .node-type-uw-ct-person-profile &,
      .node-type-contact & {
        @include span-columns(9 of 9);

        @include omega;

        .controls {
          @include fill-parent;
        }
      }

      .page-events & {
        @include span-columns(9 of 9);

        div + h2 {
          margin-top: 0.5rem;
        }
      }
    }


    .staff-contact {
      button, div[role="button"] {
        align-items: inherit;
        background-color: transparent;
        border-bottom-color: inherit;
        border-bottom-style: inherit;
        border-bottom-width: inherit;
        border-image-outset: inherit;
        border-image-repeat: inherit;
        border-image-slice: inherit;
        border-image-source: inherit;
        border-image-width: inherit;
        border-left-color: inherit;
        border-left-style: inherit;
        border-left-width: inherit;
        border-right-color: inherit;
        border-right-style: inherit;
        border-right-width: inherit;
        border-top-color: inherit;
        border-top-style: inherit;
        border-top-width: inherit;
        box-sizing: inherit;
        color: inherit;
        cursor: inherit;
        display: inherit;
        font-family: inherit;
        font-size: inherit;
        font-stretch: inherit;
        font-style: inherit;
        font-variant-caps: inherit;
        font-variant-ligatures: inherit;
        font-variant-numeric: inherit;
        font-weight: inherit;
        height: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        margin-bottom: inherit;
        margin-left: inherit;
        margin-right: inherit;
        margin-top: inherit;
        padding-bottom: inherit;
        padding-left: inherit;
        padding-right: inherit;
        padding-top: inherit;
        text-align: inherit;
        text-indent: inherit;
        text-rendering: inherit;
        text-shadow: inherit;
        text-size-adjust: inherit;
        text-transform: inherit;
        word-spacing: inherit;
        writing-mode: inherit;
        -webkit-appearance: inherit;
        -webkit-border-image: inherit;
        max-width: 100%;
        width: 100%;
        user-select: text;
      }
    }

    .js & {
      .staff-contact {
        &:before {
          font-family: $fdsu-icon-font;
          border-radius: $base-border-radius;
          color: $gray;
          content: $fdsu-arrow;
          font-size: modular-scale(-2);
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          position: absolute;
          right: 1rem;
          top: 2rem;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          pointer-events: none;
          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color));
          .node-type-contact & {
            content: '';
          }
        }

        button {
          cursor: inherit;
        }
      }
    }

    .js & {
      .field-item {
        > .expandable {
          margin-bottom: 1rem;

          > h2 {
            margin: 0;
            padding: 0;

            &:first-child {
              border: none;

              // margin-bottom: 1rem;
              padding-bottom: 0;
              font-weight: normal;
              display: table;
              width: 100%;
              height: auto;
              min-height: 3.563rem;
              table-layout: fixed;

              button, div[role="button"] {
                padding: 0.75rem;
                text-align: left;
                position: relative;
                display: table-cell;
                vertical-align: middle;
                user-select: text;
                white-space: -o-pre-wrap;
                word-wrap: break-word;
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                padding-right: 3rem;

                &:after {
                  position: absolute;
                  top: 40%;
                  right: 5%;
                  z-index: 2;
                  display: block;
                  content: $fdsu-arrow;
                  font-family: $fdsu-icon-font;

                  // color: $gray;
                  font-size: modular-scale(-2);
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  -moz-osx-font-smoothing: grayscale;
                  transform-origin: 50% 50%;
                  -webkit-transform: scale(1, 1) rotate(90deg);
                  -ms-transform: scale(1, 1) rotate(90deg);
                  transform: scale(1, 1) rotate(90deg);
                  text-align: center;

                  @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (transform));
                }

                &:hover {}

                max-width: inherit;

                &::-moz-focus-inner {
                  padding: 0;
                  border: none;
                }

                &:hover,
                &:focus {
                  &:after {
                    //color: $white;
                  }
                }

                &:focus {
                  outline: none;
                }
              }
            }
          }

          > .expandable-content {
            display: none;
            background: #FAFAFA;

            @extend %ct_box;

            min-height: inherit;
            margin-top: 0;
          }

          .last-visible {
            margin-bottom: 0;
          }

          &.expanded {
            .expandable-content {
              display: block;
              margin-top: 0;
              min-height: inherit;
              padding: 1rem;

              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (color, background-color, border-color, opacity, transform));
            }

            > h2 {
              &:first-child {
                button, div[role="button"] {
                  &:hover,
                  &:focus {
                    &:after {
                      // color: $white;
                    }
                  }

                  &:after {
                    // color: $gray;
                    -webkit-font-smoothing: antialiased;
                    -webkit-transform: scale(1, -1) rotate(90deg);
                    -ms-transform: scale(1, -1) rotate(90deg);
                    transform: scale(1, -1) rotate(90deg);

                    @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: (transform));
                  }
                }
              }
            }
          }
        }
      }

      .expandable-controls {
        margin-right: 0;

        @include span-columns(12);

        margin-bottom: 1rem;

        button {
          max-width: inherit;

          &::-moz-focus-inner {
            padding: 0;
            border: 0;
          }

          &:focus {
            outline: none;
          }

          &.expand-all {
            width: 50%;
            margin-right: 0;
            border-right: 1px solid lighten($uw-gray, 40%);
          }

          &.collapse-all {
            width: 50%;
            margin-right: 0;
          }
        }
      }
    }
  }

  &-sidebar {
    @include clearfix;

    ul {
      &.livechat-feedback {
        margin-left: 0;
        padding-left: 0;
        margin: 0.8rem 0;

        li {
          list-style-type: none;
        }

        a {}

        img {
          width: 100%;
        }
      }
    }

    &--nav {
      &__state {}

      &__grey-out {}
    }

    &--promo {
      @include clearfix;

      @include span-columns(12 of 12);

      @include media($small-screen) {
        .sticky-promo & {
          @include span-columns(9 of 9);
        }
      }


      @include media($large-screen) {
        .sticky-promo & {
          @include span-columns(3 of 3);
        }
      }
    }

    &--second {
      @include clearfix;

      height: 100%;

      @include span-columns(12 of 12);

      @include media($small-screen) {
        @include span-columns(9 of 9);

        .sticky-promo & {}
      }


      .region-sidebar-second {
        @include clearfix;

        .block {
          &-odd {
            @include span-columns(9 of 9);

            @include media($small-screen) {
              @include span-columns(4.5 of 9);

              @include omega;
            }
          }

          &:first-of-type {
            @include span-columns(9 of 9);

            @include omega;
          }

          &-even {
            @include span-columns(9 of 9);

            @include media($small-screen) {
              @include span-columns(4.5 of 9);
            }


            @include media($large-screen) {
              @include span-columns(3 of 3);
            }
          }

          @include media($large-screen) {
            @include span-columns(3 of 3);
          }
        }
      }

      @include media($large-screen) {
        .sticky-promo & {
          @include span-columns(3 of 3);
        }
      }
    }

    &--wrapper {
      .cktwitter iframe {
        width: 100% !important;
      }

      background: $sidebar-gray-bg;
      padding: 1rem;

      @include span-columns(9 of 9);

      .page-about-people &,
      .page-people-profiles &,
      .node-type-uw-embedded-facts-and-figures &,
      .node-type-uw-ct-single-page-home &,
      .node-type-uw-news-item &,
      .node-type-uw-event &,
      .page-taxonomy-term &,
      .node-type-uw-ct-person-profile &,
      .node-type-contact & {
        padding: 0;
      }

      .js .front .uw-site-main--content & {
        display: none;
      }

      .js .front .uw-site-main--content .uw-site-content & {
        background: $sidebar-gray-bg;
        padding: 1rem;
        margin: 0 0 1rem 0;

        @include span-columns(9 of 9);

        @include omega;
      }

      .js .wide.front .uw-site-main--content .uw-site-content & {
        display: none;
      }

      .wide &,
      .node-type-uw-news-item &,
      .node-type-uw-event &,
      .page-about-people &,
      .page-people-profiles &,
      .node-type-uw-embedded-facts-and-figures &,
      .page-taxonomy &,
      .node-type-uw-ct-person-profile &,
      .node-type-contact &,
      .js .wide.front .uw-site-main--content &,
      .js .page-news .uw-site-main--content &,
      .js .page-events .uw-site-main--content &,
      .js .page-blog .uw-site-main--content & {
        display: none;
      }

      @include media($large-screen) {
        background: transparent;
        padding: 0rem;

        .js .front .uw-site-main--content .uw-site-content & {
          display: none;
          background: transparent;
          padding: 0rem;
        }

        @include span-columns(3 of 9);

        @include omega;

        .js .front .uw-site-main--content & {
          @include span-columns(3 of 9);

          @include omega;
        }
      }
    }
  }

  &-footer {
    @include outer-container(100%);

    position: relative;

    @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));

    &.open-site-footer {
      background-color: $gray;
      color: $white;

      @include uw-transition($delay: 0s, $duration: 400ms, $timing: "linear", $property: (height, opacity, visibility, background-color));
    }

    &--global {
      background-color: $site-global-footer-bg;
      position: relative;
    }
  }

  &-share {
    @include outer-container(100%);

    background-color: $lighter-gray;
  }
}

.uw-footer-logo {
  height: 3.750rem;
  text-indent: -9999rem;
  background: url("../images/rwd/uwaterloo-logo.svg") no-repeat 0 50%;
  background-size: 100%;
  max-width: 15.563rem;
  margin: 1rem auto;

  @include media($medium-screen) {
    max-width: 13rem;
    margin: 1rem 0;

    html.ie10 & {
      max-width: 11rem;
    }
  }


  a {
    width: 100%;
    display: block;
    height: 100%;
  }
}

// region header
.uw-header {
  min-height: $site-global-header-height;
  position: relative;

  @include outer-container;

  &--content {
    ul {
      margin-left: 0;
      padding-left: 0;
    }
  }

  &--logo {
    height: $site-global-header-height;

    @include span-columns(6 of 12);

    .uw-logo {
      margin: 1.3rem 0 0 0;
      display: block;
      width: 100%;
      height: 1.875rem;

      @include media($small-screen) {
        margin: 1.15rem 0 0 0;
        height: 2.188rem;
      }


      @include media($medium-screen) {
        height: 2.5rem;
      }


      @include media($large-screen) {
        height: 2.688rem;
      }


      text-indent: -999rem;
      background: url("../images/rwd/uwaterloo-logo.svg") no-repeat 0 50%;
      background-size: contain;
      max-width: 10.563rem;
    }

    @include media($medium-screen) {
      @include span-columns(12 of 12);

      .uw-logo {
        @include span-columns(4 of 12);

        @include shift(4.5);

        margin-top: 1.5rem;
        max-width: 12.5rem;
        text-align: center;
      }
    }


    @include media($large-screen) {
      @include span-columns(2.5 of 12);

      .uw-logo {
        width: 100%;
        max-width: 10.750rem;
        margin: 1rem 0 0 0;

        @include shift(0);
      }
    }
  }

  &--buttons.generic_header {
    float: right;
  }

  &--buttons {
    // position:absolute;
    @include span-columns(5 of 12);

    @include shift(1);

    @include omega;

    height: $site-global-header-height;

    @include media($small-screen) {
      @include span-columns(4 of 12);

      @include shift(2);
    }


    @include media($medium-screen) {
      border: none;

      @include span-columns(1 of 12);

      @include shift(0);

      @include omega;

      top: 3.2rem;
    }


    @include media($large-screen) {
      right: 0;
      top: 0;
    }


    &__search {
      @include span-columns(2 of 4);

      height: 100%;
      text-align: center;
      margin-left: 5.61798%;
      border-left: 1px solid transparentize($white, 0.8);

      @include omega;

      @include media($medium-screen) {
        @include span-columns(1 of 1);

        border: none;
      }


      a {
        height: 100%;
        font-family: $condensed-Book-font-family;
        letter-spacing: 0.045rem;
        text-transform: uppercase;
        font-size: modular-scale(-1);
        text-decoration: none;
        display: block;
        padding-top: 0.9rem;

        @include media($medium-screen) {
          padding-top: 0;
        }


        @include media($large-screen) {
          padding-top: 0.9rem;
        }


        &.search-button {
          text-decoration: none;

          @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: color);

          &:hover {
            color: $uw-gold;

            .ifdsu {
              color: $uw-gold;

              @include uw-transition($delay: 0s, $duration: 200ms, $timing: "linear", $property: color);
            }
          }

          .ifdsu {
            display: block;
            font-size: modular-scale(2);
            padding-bottom: 0.1rem;

            &:hover {}
          }
        }
      }
    }
  }

  // global header
  &--global {
    @include outer-container(100%);

    background-color: $site-global-header-bg;

    nav {
      display: block;
      width: 100%;

      @include media($medium-screen) {
        @include span-columns(10 of 12);

        min-height: 4.375rem;
      }


      @include media($large-screen) {
        @include span-columns(8.5 of 12);
      }
    }

    .global-menu {
      display: none;
      padding-left: 0;
      margin-top: 1rem;
      margin-bottom: 1rem;

      @include media($medium-screen) {
        display: block;
        text-align: center;
        padding-top: 0.3rem;
      }


      @include media($large-screen) {
        padding-top: 1.2rem;
      }


      li {
        display: inline-block;
        padding: 0 0.5rem;
      }
    }
  }

  &--search {
    &__university {}
  }

  &--nav {
    &__university {}
  }

  &--banner {
    &__alt {}
  }
}

// region footer
.uw-footer,
#uw-footer {
  background-color: $site-footer-bg;
  border: none;
  padding: 0;
  margin-top: 0;
  clear: both;
  position: relative;
}

//inner layout

.col-50,
.col-33,
.col-66,
.threecol-33 {
  @include media($small-screen) {
    float: left;
  }
}

.col-50.first,
.col-33.first,
.col-66.first,
.threecol-33 {
  @include media($small-screen) {
    margin-right: 4%;
  }
}

.threecol-33.last {
  margin-right: 0;
}

.col-50 {
  width: 100%;

  @include media($small-screen) {
    width: 48%;
  }
}

.col-33 {
  width: 100%;

  @include media($small-screen) {
    width: 32%;
  }
}

.col-66 {
  width: 100%;

  @include media($small-screen) {
    width: 64%;
  }
}

.threecol-33 {
  width: 100%;

  @include media($small-screen) {
    width: 30.666666%;
  }
}

/*legacy*/
.half-column {
  float: left;
  width: 100%;

  @include media($small-screen) {
    width: 48%;
  }
}

.half-column.first {
  @include media($small-screen) {
    margin-right: 4%;
  }
}

.content_node .field-items {
  // padding-bottom: 1rem;
}

// video
.uw_video-embed {
  clear: both;

  .wide & {
    position: relative;
    padding-bottom: 56.25%;

    /* 16:9 */
    padding-top: 1.563rem;
    height: 0;

    // margin-bottom: 3.1rem;

    object {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clear: both;
      margin-bottom: 3.1rem;
    }

    div {
      margin-top: 57%;
    }

    .overlay-open & {
      visibility: hidden;
    }
  }
}

/*views*/

.view-events-with-calendar {
  // border:1px solid $medium-gray;
  padding: 0  0 0.5rem 0;
}

.view {
  .date-nav-wrapper {
    margin-top: 0;
    border-radius: 5px;

    .date-nav {
      min-height: inherit;
      height: auto;
      padding: 0;
    }
  }
}

.date-heading {
  font-size: modular-scale(-3);
}

.uw-site-content {
  .view {
    .calendar-calendar {
      padding: 0.2rem;
      background: $white;
    }

    .date-nav-wrapper {
      clear: both;
      border-radius: 0;

      .date-nav {
        display: block;
        float: left;
        background: $neutral;
        width: 100%;

        .date-heading {
          h2 {
            padding: 0.5rem 1rem 0.2rem 1rem;
            width: 40%;
            float: left;
            text-align: left;

            @include media($medium-screen) {
              width: 50%;
              float: left;
            }
          }
        }
      }

      // position:relative;
      // margin-bottom:3rem;
      .date-next,
      .date-prev {
        border-radius: 0;
        padding: 0;
        text-align: center;
        width: 30%;

        @include media($small-screen) {
          width: 20%;
        }


        a {
          @extend %button;

          border: none;
        }
      }

      .date-prev {
        right: inherit;

        // left:0;
        text-align: left;
      }

      .date-prev {
        right: 30%;

        @include media($small-screen) {
          right: 20%;
        }


        // left:inherit;

      }

      @include media($medium-screen) {}
    }
  }
}

/*cas login*/
.cas_login {
  position: absolute;
  bottom: 0.6250rem;
  right: 0.6250rem;
  width: auto;
  margin: 0;
  font-size: modular-scale(-2);

  a {
    color: #aaa;
    background-color: #000;
    text-decoration: none;

    &:visited {
      color: #aaa;
      background-color: #000;
      text-decoration: none;
    }
  }
}

.view-opportunities {
  span {
    display: inline-block;

    // margin-top:0.2rem;
    // margin-bottom:0.2rem;

  }
}

@media screen and (max-width: 767px) {
  #navbar-administration.navbar-oriented .navbar-tray-vertical > .navbar-lining::before {
    height: 0px;
  }
}

.img-test {
  background: url("../images/cta2.jpg") no-repeat;
  width: 220px;
  height: 87px;
  display: none;
}

#main-menu > ul > li.last.expanded.active-trail > a {
  padding-left: 0.4rem;
}

.contextual-links-region {
  @include clearfix;
}

.hootsuiteWrapper iframe {
  width: 100%;
  min-height: 100px;
}

.uw_video-embed-link, .vimeoWrapper-link, .hootsuiteWrapper-link {
  margin-bottom: 1rem;
}

// expand collapse overwrite
body.org_cgc .expandable h2:first-child div[role="button"], body.org_cgc .expandable-controls button,
body.org_ren .expandable h2:first-child div[role="button"], body.org_ren .expandable-controls button,
body.org_stj .expandable h2:first-child div[role="button"], body.org_stj .expandable-controls button,
body.org_stp .expandable h2:first-child div[role="button"], body.org_stp .expandable-controls button {
  &:hover,
  &:focus {
    color: $lighter-gray;
    background-color: $dark-gray;

    a {
      color: $white;
    }
  }

  a {
    color: $white;

    &:hover {
      color: $white;
    }

    &:focus {
      color: $white;
    }
  }
}

body.org_default .expandable h2:first-child div[role="button"],
body.org_default .expandable-controls button {
  background-color: $lighter-gray;
  color: $dark-gray;
  border:none !important;
  &:hover, &:focus {
    color: $lighter-gray;
    background-color: $dark-gray;
    border:none !important;
    &:after {
      color: $white;
    }
  }

  &:after {
    color: $dark-gray;
  }
}

body.org_default .expandable h2:first-child  div[role="button"],
body.org_default .expandable-controls button {
  border:none !important;
  a {
    color: $dark-gray;

    &:hover {
      color: $lighter-gray;
    }

    &:focus {
      color: $dark-gray;
    }
  }

  &:hover,
  &:focus {
    a {
      color: $lighter-gray;
    }
  }
}

nav.responsive-menu-combined,
nav.rmc-nav {
  height: 100%;

  @include span-columns(2 of 4);

  border-left: 1px solid transparentize($white, 0.8);

  label {
    position: relative;
    min-height: 4.375rem;
    text-align: center;
    margin-bottom: 0;
    font-weight: 400;

    span.navigation_toggle__text {
      height: 100%;
      font-family: $condensed-Book-font-family;
      letter-spacing: 0.045rem;
      text-transform: uppercase;
      font-size: modular-scale(-1);
      text-decoration: none;
      display: block;

      // position:absolute;
      // top:2.25rem;
      // left: 0.8rem;
      padding: 2.25rem 0 0 0;
      height: auto;
      width: auto;
    }

    button {
      font-family: $condensed-Book-font-family;
      letter-spacing: 0.045rem;
      text-transform: uppercase;
      font-size: modular-scale(-1);
      font-weight: 400;
    }
  }

  @include omega;

  @include media($medium-screen) {
    display: none;
  }
}
