table {
  // @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;

  // table-layout: fixed;
  width: 100%;
  margin: 1rem 0;
  max-width: 100%;

  .uw-site--main-content & {
    max-width: 46.875rem;
  }
}

table:not(.sticky-header) {
  min-width: 100%;
}

td,
th {
  padding: 0.5rem;
  border: solid 1px $light-gray;
  vertical-align: top;
}

th {
  text-align: left;
  font-style: italic;
  background-color: $lighter-gray;

  &[scope="row"] {
    background-color: $lighter-gray;
  }

  body.org_default & {
    color: $black;
    background-color: $lighter-gray;
  }
}

td {
  border-bottom: $base-border;
}

tr {}
